@charset "UTF-8";
#AppContain {
	.title1 {
		max-width: 300px;
	}
}
@media only screen and (min-width: 768px) {
	#AppContain {
		.title1 {
			max-width: 700px;
		}
	}
}


/* ================================================== */
/** @TmpStep2 專區 */
#PicWrap2 {
	font-size: 14px;
	/* color: white; */
	/* color: #bcbef1; */
	color: #f9bd4c;
	/* width: 350px; */
/* 
	.user2 {
    top: 136px;
    left: 303px;
	}
 */
	.lbl21 {
    top: 32px;
    left: 174px;
	}
	.lbl22 {
    top: 158px;
    left: 218px;
	}
	.lbl23 {
    top: 236px;
    left: 110px;
	}
	.lbl24 {
    top: 157px;
    left: 5px;
	}
	.lbl25 {
    top: 33px;
    left: 45px;
	}
}

#PicWrap1,#PicWrap2 {
	position: relative;

	.user1,.user2 {
		width: 70px;
		position: absolute;
		z-index: 12;
    top: 88px;
    left: 116px;
	}

	b {
		position: absolute;
    display: block;
		width: 80px;
    text-align: center;
	}
	span>i {
		color: #ff0000d1;
	}
}


#PicWrap1 {
	color: #1d09c1;
	/* color: #f9bd4c; */
	.lbl11 {
		top: 30px;
		left: 179px;
	}
	.lbl12 {
		top: 164px;
		left: 224px;
	}
	.lbl13 {
		top: 246px;
		left: 110px;
	}
	.lbl14 {
		top: 165px;
		left: -4px;
	}
	.lbl15 {
		top: 31px;
		left: 39px;
	}
}
/* 針對手機 */
@media (max-width: 450px) {
	#PicWrap1,#PicWrap2 {
		width: 300px;
		/* position: relative; */
	}
}


#TmpStep2 {
	.row {
		padding: 2em 0;
	}

	h2.tit2 {
		color: #3a4edf;
		position: relative;
		margin-bottom: 30px;
    font-family: revert;
    font-size: 32px;
    font-weight: bold;
	}

	p.desc {
    font-family: revert;
    font-size: 18px;
    font-weight: bold;
	}
}

@media (min-width: 768px) {
	#TmpStep2 {
		.imgWrap1 {
			width: 60%;
		}
	}
}

/* 830px是針對PC(大小視窗會放大還原) // 平板820px(不要),否則斷行(不夠寬 */
@media only screen and (min-width: 830px) {
	#TmpStep2 {
		p {
			font-size: 24px;
		}
		b {
			font-size: 22px;
		}
	}

	#PicWrap1,#PicWrap2 {
		.user1,.user2 {
			width: 90px;
			top: 119px;
			left: 167px;
		}
	}

	#PicWrap2 {
		.lbl21 {
			top: 49px;
			left: 260px;
		}
		.lbl22 {
			top: 214px;
			left: 316px;
		}
		.lbl23 {
			top: 318px;
			left: 175px;
		}
		.lbl24 {
			top: 215px;
			left: 33px;
		}
		.lbl25 {
			top: 51px;
			left: 87px;
		}
	}
	#PicWrap1 {
		.lbl11 {
			top: 44px;
			left: 266px;
		}
		.lbl12 {
			top: 221px;
			left: 327px;
		}
		.lbl13 {
			top: 334px;
			left: 176px;
		}
		.lbl14 {
			top: 221px;
			left: 22px;
		}
		.lbl15 {
			top: 42px;
			left: 80px;
		}
	}
}



/* ================================================== */
/** @TmpStep3 專區 */


/* ================================================== */
/** @TmpStep1 專區 */



/* ///////////////////////////////////////
	以下是 改寫/追加 外掛區
/////////////////////////////////////// */
form {
	.form-label {		/* bootstrap4內建,bootstrap5沒了 */
		margin-bottom: 1rem;
		font-size: 22px;
	}
	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
	}
	.form-check-label {
		font-weight: normal;
	}
}

.modal-body {
	font-size: x-large;
}

/* ///////////////////////////////////////
	以下是 套類別(.addClass) 專屬
/////////////////////////////////////// */
.groupC {
	display: flex;
	justify-content: center;
}

/* *必填 */
.Required {
	color: #cd1717;
	font-size: 0.85rem;
}

.pointer {
	cursor: pointer;
}
.clearboth {
	clear: both;
}

.imgWrap1 {
	width: 100vw;
	img {
		width: 100%;
	}
}

.w150 {
	width: 150px;
}
.w200 {
	width: 200px;
}
.w250 {
	width: 250px;
}
.w300 {
	width: 300px;
}
.m300 {
	min-width: 300px;
}
.w350 {
	width: 350px;
}
.w400 {
	width: 400px;
}
.w450 {
	width: 450px;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.acenter {
	align-items: center;
}
div.flex {
	display: flex;
	align-items: center;
	margin: 0 auto;
}
div.boxCenter {
	justify-content: center;
}
section.boxCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
button.red {
	color: white;
	background-color: red !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.absolute {
	position: absolute !important;
}
.fullHeight {
	height: 100vh !important;
}
.h80v {
	height: 80vh !important;
}
.floatright { 
	float: right; 
}
.roundX {
    border-radius: 50% !important;
}
.pad2em {
	padding: 0 2em !important;
}


/* ///////////////////////////////////////
	以下是 針對各別區域
/////////////////////////////////////// */
/* 
body {
	background-image: url(@/assets/foot1.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	@media (min-width: 768px) {
		background-image: url(@/assets/pc/foot1.png);
	}
}
 */


