#IconWrap1 {
	flex-direction: row;
	flex-wrap: wrap;
	small {
		font-size: 16px;
		color: #EAA824;
		/* margin-bottom: 5px; */
		margin: 7px 0;
	}
	h5 {
		font-size: 12px;
		letter-spacing: unset;
		/* letter-spacing: -1px; */
	}
	h5.en {
	 font-size: 11px;
	}
	.box1 {
			float: left;
			position: relative;
			border-radius: 6px;
			overflow: hidden;
			margin: 3px;
			background: #fff;
			box-shadow: -0.5px 0.5px 4px rgba(0, 0, 0, 0.45);
			cursor: pointer;
	}
	.groupIcon {
			text-align: center;
			width: 80px;
			height: 70px;
			padding: 10px;
/* 		PS: 與其它css衝突,改用margin
			display: block;
			line-height: 30px;
 */
			display: inline-grid;
	}
}

.gi-breadcrumb-list {
	display: none !important;
}