@charset "UTF-8";

/* ================================================== */
#tmppage1 div.pre1 {
	font-size: 20px;
	margin: 0 auto;
	text-align: left;
	padding: 9px 10px 6px;
	border-radius: 8px;
	border: 2px solid #570f0f;
	background-color: #e8e8e8;
	color: #28334d;
	height: 180px;
	overflow: auto;

	p {
		line-height: 1.7em;
		margin: 10px;
    text-align: justify;
	}
}

#tmppage1 {
	/* height: 100vh; */
	.title1 {
		margin-bottom: 1.5em;
	}

	.imgWrap1 {
		width: 100vw;
		img {
			width: 100%;
		}
	}

	.wrapbtn1 {
		background-image: url(@/assets/btn2.png);
		text-align: center;
		border-radius: 20px;
		padding: 18px 5px 5px;
		width: 110px;
		box-shadow: 0 3px 13px #0a58ca;

		h6 {
			color: white;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

/* ================================================== */
/** @TmpStep0 專區 */
#TmpStep0 {
	height: 79vh;

	.rule3 {
		max-width: 40vw;
	}
	.rule2 {
		margin: 20px 0px;
		/* margin-left: -15px; */
		max-width: 80vw;
	}
	.rule1 {
		margin: 20px 0;
		max-width: 36vw;
	}

	@media (min-width: 768px) {
		height: 1000px;

		.rule3 {
			max-width: 434px;
		}
		.rule2 {
			margin-left: 0;
			max-width: 60vw;
		}
		.rule1 {
			max-width: 380px;
		}
	}
}
/* ================================================== */
/** @TmpStep3 專區 */
#TmpStep3 {
	h2 {
		font-weight: bold;
	}
	h3 {
		margin-bottom: 1px;
		color: blueviolet;
		font-weight: bold;
		font-size: calc(1.3rem + .6vw);
	}

	.resultBase {
		/* background-image: url(@/assets/tw/base.png); */
		text-align: center;
		height: 200px;

		@media (min-width: 768px) {
			background-repeat: no-repeat;
			background-position: center top;
		}
	}
	figure.WrapR1 {
    width: 160px;
    margin-left: 15px;
    display: block;
    margin-top: 20px;
	}
	.wraptxt {
		 width: 80px;
		 height: 80px;
		 display: block;
		 float: right;
	}
	.res1 {
		margin-top: 1.3em;
	}

	.res2 {
    margin-top: 8.5em;
    margin-right: -80px;
	}

	@media (max-width: 576.02px) {
		.wraptxt {
			margin-left: 160px;
		}
		.res1 {
			margin-top: 1.5em;
		}

		.res2 {
			margin-top: 1.3em;
			margin-right: 0;
		}
	}

}


/* ================================================== */
/** @TmpStep1 專區 */
.Section2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768.02px) {
  .Section2__content {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }/*   .CardBox {
    width: 47%;
    margin: 0 0 40px 0;
  }
 */
}

.CardBox {
	cursor: pointer;
  width: 23%;
  padding: 40px;
	border: 1px solid #0d6efd;
	h3 {
		margin-top: -10px;
	}

}

@media (max-width: 576.02px) {
  .CardBox {
    width: 48%;
		padding: 0;
    /* margin: 0 0 40px 0; */
		margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
	.BeginBtn {
		margin-top: 60px;
	}
}

.icon1 {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card {
  background: #e9e0e0;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.card.act1 {
	background: #a1d7e7;
}

.bg-buy {
  background-color: #ef3900;
}

.bg-work {
  background-color: #22a699;
}

.bg-love {
  background-color: #e76161;
}

.bg-wealth {
  background-color: #f2be22;
}

.bg-health {
  background-color: #40128b;
}

.bg-month {
  background-color: #19a7ce;
}

.heading3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

@media (max-width: 576.02px) {
  .heading3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }
}

.paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0;
}

.paragraph-b {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0;
}

.text-buy {
  color: #ef3900;
}

.text-work {
  color: #22a699;
}

.text-love {
  color: #e76161;
}

.text-wealth {
  color: #f2be22;
}

.text-health {
  color: #40128b;
}

.text-month {
  color: #19a7ce;
}

/* ================================================== */
/** @TmpStep2 專區 */
/* Checkmark style starts */
$checked-color: #34b93d;
$disable-color: red;
/* $unchecked-color: #000; */
$unchecked-color: #34b93d;
$checkbox-height: 40px;
$background-color:#667788;
$font-color:#efefef;
$duration: .4s;
  
@-moz-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: $checkbox-height/2; }
}

@-webkit-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: $checkbox-height/2; }
}

@keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: $checkbox-height/2;  }
}

@keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height * 1.2; }
}
@-webkit-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height * 1.2; }
}
@-moz-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height * 1.2; }
}

/* input[type=checkbox]{ */
#ChkOK1 {
    display:none;
}

.check-box {
		margin-right: 8px;
    height: $checkbox-height;
    width: $checkbox-height;
    background-color: transparent;
    border: $checkbox-height * .1 solid $unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease $duration/2;
    -o-transition: border-color ease $duration/2;
    -webkit-transition: border-color ease $duration/2;
    transition: border-color ease $duration/2;
    cursor:pointer;

    &::before, &::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: $checkbox-height * .2;
        background-color: $checked-color;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        -webkit-transition: opacity ease .5;
        -moz-transition: opacity ease .5;
        transition: opacity ease .5;
    }

    &::before {
        top:$checkbox-height * .72;
        left: $checkbox-height * .41;
        /* box-shadow: 0 0 0 $checkbox-height * .05 $background-color; */
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    &::after {
        top: $checkbox-height * .37;
        left: $checkbox-height * .05;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

input[type=checkbox]:disabled + .check-box {
	border-color: $disable-color;
}


input[type=checkbox]:checked + .check-box, .check-box.checked{
    border-color: $checked-color;
    
    &::after{
        height: $checkbox-height * .5;
        -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
        -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
        -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
        animation: dothabottomcheck $duration/2 ease 0s forwards;
    }
     
    &::before{
        height: $checkbox-height * 1.2;
        -moz-animation: dothatopcheck $duration ease 0s forwards;
        -o-animation: dothatopcheck $duration ease 0s forwards;
        -webkit-animation: dothatopcheck $duration ease 0s forwards;
        animation: dothatopcheck $duration ease 0s forwards;
    }
}




/* ///////////////////////////////////////
	以下是 改寫/追加 外掛區
/////////////////////////////////////// */
form {
	.form-label {		/* bootstrap4內建,bootstrap5沒了 */
		margin-bottom: 1rem;
		font-size: 22px;
	}
	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
	}
	.form-check-label {
		font-weight: normal;
	}
}

.modal-body {
	font-size: x-large;
}

/* ///////////////////////////////////////
	以下是 套類別(.addClass) 專屬
/////////////////////////////////////// */
.groupC {
	display: flex;
	justify-content: center;
}

/* *必填 */
.Required {
	color: #cd1717;
	font-size: 0.85rem;
}

.pointer {
	cursor: pointer;
}
.clearboth {
	clear: both;
}
.w150 {
	width: 150px;
}
.w200 {
	width: 200px;
}
.w250 {
	width: 250px;
}
.w300 {
	width: 300px;
}
.w350 {
	width: 350px;
}
.w400 {
	width: 400px;
}
.w450 {
	width: 450px;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.acenter {
	align-items: center;
}
div.flex {
	display: flex;
	align-items: center;
	margin: 0 auto;
}
div.boxCenter {
	justify-content: center;
}
section.boxCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
button.red {
	color: white;
	background-color: red !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.absolute {
	position: absolute !important;
}
.fullHeight {
	height: 100vh !important;
}
.h80v {
	height: 80vh !important;
}
.floatright { 
	float: right; 
}

/* ///////////////////////////////////////
	以下是 針對各別區域
/////////////////////////////////////// */
body {
	background-image: url(@/assets/foot1.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	@media (min-width: 768px) {
		background-image: url(@/assets/pc/foot1.png);
	}
}

/* 
#app {
	overflow-x: hidden;
}
 */
/* 針對子網頁  */
div.header-top-area, footer.footer-area, 
.header-right-wrap, figure.figure, #djDebugToolbarHandle {
	display: none !important;
	height: 0;
}
