/* ///////////////////////////////////////
	以下是 閃爍按鈕
/////////////////////////////////////// */
.neon {
  color: white;
  font-size: 30px;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 20px #fff, 0 0 100px #fff, 0 0 20px #fff;
  }
  50% {
    text-shadow: 0 0 50px #fff, 0 0 150px #fff, 0 0 50px #fff;
    color: lightblue;
  }
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.blockBtn {
	color: white;
	font-size: 30px;
	font-weight: bold;
	background: #5ab5ff;
	text-align: center;
	border-radius: 30px;
	border: 5px solid #fff;
	padding: 10px 15px;
}

.LightBox {
	/* // imgWrap1 */
	/* width: 100%; */
	/* background: #fff0; */
	background: #e77fa1;
	padding: 10px;
	height: auto;
	border-radius: 30px;
	border: 5px solid #5ab5ff;
	/* animation: fade 2000ms infinite ease-in-out; */
	/* animation: fade 600ms infinite; */
	box-shadow: 0 3px 23px #51565d;
}

.LightBox img:first-child {
	margin-left: -35px;
}
.LightBox img:nth-child(2) {
	margin-left: -25px;
}



.box1 {
	width: 250px;
	height: 85px;
	border-radius: 40px;
	background: #ff0;
	padding: 10px;
	z-index: 1;
	animation: fade 1.5s infinite ease-in-out;
}
.box2 {
	text-align: center;
	border-radius: 40px;
	border: 5px solid #5ab5ff;
	padding: 10px;

	z-index: 2;
	position:absolute;
	/* margin-top: -85px; */

	background-color: transparent;
	box-shadow: 0 3px 23px #51565d;
}

.img220 {
	width: 220px;
}

.img250 {
	width: 250px;
}

.col.h3 {
	padding: 0;
}