@charset "UTF-8";
#AppContain {
	.title1 {
		max-width: 300px;
	}
}
@media only screen and (min-width: 768px) {
	#AppContain {
		.title1 {
			max-width: 700px;
		}
	}
}


/* ================================================== */
/** @TmpStep2 專區 */

/* ================================================== */
/** @TmpStep3 專區 */


/* ================================================== */
/** @TmpStep1 專區 */



/* ///////////////////////////////////////
	以下是 改寫/追加 外掛區
/////////////////////////////////////// */
.card {
	padding: 0;
	margin-bottom: 15px;
}
.card-header.success {
	border-color: #21955f;
	background-color: #dff0d8;
}
.card-header.danger {
	border-color: #fe6c6f;
	background-color: #fff6f7;
}
.card-header.info {
	border-color: #50bfff;
	background-color: #c3ebf3;
}
.card-header.warning {
	border-color: #ffc107;
	background-color: #faebcc;
}


form {
	.form-label {		/* bootstrap4內建,bootstrap5沒了 */
		margin-bottom: 1rem;
		font-size: 22px;
	}
	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
	}
	.form-check-label {
		font-weight: normal;
	}
}

.modal-body {
	font-size: x-large;
}

/* ///////////////////////////////////////
	以下是 套類別(.addClass) 專屬
/////////////////////////////////////// */
.groupC {
	display: flex;
	justify-content: center;
}

/* *必填 */
.Required {
	color: #cd1717;
	font-size: 0.85rem;
}

.pointer {
	cursor: pointer;
}
.clearboth {
	clear: both;
}

.imgWrap1 {
	width: 100vw;
	img {
		width: 100%;
	}
}

.w150 {
	width: 150px;
}
.w200 {
	width: 200px;
}
.w250 {
	width: 250px;
}
.w300 {
	width: 300px;
}
.m300 {
	min-width: 300px;
}
.w350 {
	width: 350px;
}
.w400 {
	width: 400px;
}
.w450 {
	width: 450px;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.acenter {
	align-items: center;
}
div.flex {
	display: flex;
	align-items: center;
	margin: 0 auto;
}
div.boxCenter {
	justify-content: center;
}
section.boxCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
button.red {
	color: white;
	background-color: red !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.absolute {
	position: absolute !important;
}
.fullHeight {
	height: 100vh !important;
}
.h80v {
	height: 80vh !important;
}
.floatright { 
	float: right; 
}
.roundX {
    border-radius: 50% !important;
}
.pad2em {
	padding: 0 2em !important;
}


/* ///////////////////////////////////////
	以下是 針對各別區域
/////////////////////////////////////// */
/* 
body {
	background-image: url(@/assets/foot1.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	@media (min-width: 768px) {
		background-image: url(@/assets/pc/foot1.png);
	}
}
 */


