#Result button.accordion-button {
	font-size: 20px;
	font-weight: bold;
	color: #0c63e4;
	background-color: #d4dae1;
	padding: 1px 10px;
	padding-left: 20px;
}
#Result button.accordion-button img {
 width: 60px;
}

#Result small {
	font-size: 16px;
	color: #EAA824;
	margin-left: 25px;
}
#Result .names1 {
	font-size: 18px;
	color: blue;
	/* margin-left: 25px; */
	margin-bottom: 5px;
}
#Result .sugges {
	font-size: 16px;
	color: #5a06a9;
	margin-top: 10px;
}
#Result h1 {
	font-weight: bold;
  margin-left: 15px;
}
#Result .accordion-body {
	background-color: #c3ddbf;
	font-size: 16px;
}

.item-box {
 background: transparent;
 margin: 16px 0;
 width: 90%;
 position: relative;
 border: 2px dashed #89373f;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 text-align: center;
}

.item-box .alert {
	padding: 5px;
	margin-bottom: -1px;
}

.item-box figure {
 width: 100%;
 display: block;
 overflow: hidden;
 position: relative;
 text-align: center;
 margin-bottom: 10px;
 max-height: 100%;
}
.item-box img {
 padding-top: 12px;
 max-width: 88%;
 margin: auto;
}



.divider.half-margins {
	margin: 30px 0;
}
.divider {
	border: 0;
	margin: 60px 0;
	height: 4px;
	border-top: #ddd 1px solid;
	border-bottom: #ddd 1px solid;
	text-align: center;
	position: relative;
	clear: both;
}


.panel-box {
	line-height: 1.8;
	padding: 8px 16px;
	margin: 20px 0;
	border-radius: 4px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-left: 13px solid #343a40;
}
.panel-box .title {
	padding: 10px 15px;
}

.panel-box.danger {
	border-color: #fe6c6f;
	background-color: #fff6f7;
}
.panel-box.danger .title {
	color: #a94442;
	background-color: #f2dede;
}
.panel-box.success {
	border-color: #21955f;
	background-color: #dff0d8;
}
.panel-box.success .title {
	color: #3c763d;
	background-color: #9ce394;
}
.panel-box.info {
	border-color: #50bfff;
	background-color: #c3ebf3;
}
.panel-box.info .title {
	color: #31708f;
	background-color: #91cce9;
}
.panel-box.warning {
	border-color: #ffc107;
	background-color: #faebcc;
}
.panel-box.warning .title {
	color: #7f6106;
	background-color: #e1d791;
}




/* ///////////////////////////////////////
	以下是 閃爍按鈕
/////////////////////////////////////// */
.neon {
  color: white;
  font-size: 30px;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 20px #fff, 0 0 100px #fff, 0 0 20px #fff;
  }
  50% {
    text-shadow: 0 0 50px #fff, 0 0 150px #fff, 0 0 50px #fff;
    color: lightblue;
  }
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.box1 {
 width: 250px;
 height: 85px;
 border-radius: 40px;
 background: #ff0;
 padding: 10px;
 z-index: 1;
 animation: fade 1.5s infinite ease-in-out;
}
.box2 {
 text-align: center;
 border-radius: 40px;
 border: 5px solid #5ab5ff;
 padding: 10px;
 z-index: 2;
 position: absolute;
 /* margin-top: -85px; */
 background-color: transparent;
 box-shadow: 0 3px 23px #51565d;
}
.img220 {
 width: 220px;
}
.img250 {
 width: 250px;
}
.col.h3 {
	padding: 0;
}