<template>
  <div class="container" id="tmppage2">
		<!-- <div class="row"> -->
			<!-- <div class="col"></div> -->
			<!-- <div class="col-md-9 col-sm-11"> -->
<article id="IconWrap1" class="groupC">
	<div class="box1">
		<a class="groupIcon" href="#/member/profile/">
			<small>
				<i class="fa-regular fa-address-card"></i>
			</small>
			<h5>個人信息</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/accounts/email/">
			<small>
				<i class="fa-solid fa-envelope"></i>
			</small>
			<h5>電郵</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/accounts/password/change/">
			<small>
				<i class="fa-solid fa-unlock-keyhole"></i>
			</small>
			<h5>密碼</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/rank/">
			<small>
				<i class="fa-solid fa-chalkboard-user"></i>
			</small>
			<h5>會員資格</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon btn-danger" data-bs-toggle="modal" data-bs-target="#UQRcode">
			<small>
				<i class="fa-solid fa-users-line"></i>
			</small>
			<h5>推薦碼成員</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/u_token_account/">
			<small>
				<i class="fa-solid fa-money-bills"></i>
			</small>
			<h5>U積分</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/cash_token_account/">
			<small>
				<i class="fa-solid fa-sack-dollar"></i>
			</small>
			<h5>購物金</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/shopping_token_account/">
			<small>
				<i class="fa-solid fa-cart-arrow-down"></i>
			</small>
			<h5>購物點數</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/recommended_bonus/">
			<small>
				<i class="fa-solid fa-people-arrows"></i>
			</small>
			<h5>推薦獎金</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/performance_bonus/">
			<small>
				<i class="fa-solid fa-arrow-up-right-dots"></i>
			</small>
			<h5>業績分紅</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/performance_bonus/">
			<small>
				<i class="fa-solid fa-handshake"></i>
			</small>
			<h5>合伙人分紅</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon">
			<small>
				<i class="fa-solid fa-circle-dollar-to-slot"></i>
			</small>
			<h5>充值</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon btn-success">
			<small>
				<i class="fa-solid fa-credit-card"></i>
			</small>
			<h5>提現</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon btn-primary">
			<small>
				<i class="fa-solid fa-headset"></i>
			</small>
			<h5>客服</h5>
		</a>
	</div>
	<div class="box1">
		<a class="groupIcon" href="#/member/qcode/">
			<small>
				<i class="fas fa-barcode"></i>
			</small>
			<h5>QRcode</h5>
		</a>
	</div>
</article>

			<!-- </div> -->
			<!-- <div class="col"></div> -->
		<!-- </div> -->

<!-- Modal-QRcode(推薦碼 -->
<div class="modal fade" id="UQRcode">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">推薦註冊</h5>
      </div>
      <div class="modal-body">
        xxx
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>

	</div>
</template>
<!-- 
<style lang="scss">
</style>
 -->
<script>
import '@/styles/noble/tmppage2.scss';
// import '@/styles/result.scss';

export default {
  // created() {
		// console.warn('品牌消息xxx');	// @@
  // },
}

</script>