<template>
  <div id="AppContain">
	<!-- PS: 加高只有這裡有,這行不要扣 -->
	<!-- style="height: 130vh;"> -->
		<div class="groupC">
			<div class="title1">
				<img src="@/assets/title1.png" class="img-fluid" />
			</div>
		</div>

		<TmpStep1 v-if="CurStep == 1" />
		<TmpStep2 v-if="CurStep == 2" />

  </div>
</template>

<script>
import '@/styles/noble/main.scss';

import TmpStep1 from "@/views/noble/TmpStep1.vue"
import TmpStep2 from "@/views/noble/TmpStep2.vue"

export default {
  components: { TmpStep1,TmpStep2 },
  // data: function(){
    // return {
      // CurStep: 3,		// @@
    // };
  // },
	computed: {
		/* 目前階段 */
		CurStep(){
			return this.$store.state.CurStep
		},
  },
  created() {
		console.warn('noble_page1.created-CurStep: ', this.CurStep);	// @@
		this.$store.commit('setStep', 1)
  },
}
</script>