<template>
  <section id="TmpResult1">
<div class="description-block d-flex flex-column mb-5">
  <h1 class="description-title align-self-center mb-4">愛情觀</h1>
  <h2 class="description-subtitle mb-4">鎖在筐架裏的愛情</h2>
  <h3 class="description-comment align-self-center mb-4">將所喜歡類型的條件列清單、逐一挑選</h3>
  <div class="row description-row mb-4">
    <div class="align-top col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <div class="description-label concept_of_love">愛情觀</div></div>
    <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <ul class="description-list">
        <li class="mb-2">他們很務實, 不太會表達內心想法。</li>
        <li class="mb-2">不喜歡標新立異，他們無法接受和自己差異過大的伴侶。</li>
        <li class="mb-2">另一半要懂得多觀察他們的行為和想法，再考慮如何與他們配合。</li></ul>
    </div>
  </div>
  <div class="row description-row mb-4">
    <div class="align-top col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <div class="description-label advantages">長處</div></div>
    <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <ul class="description-list">
        <li class="mb-2">他們很清楚自己的選擇，不會盲從隨波逐流。</li>
        <li class="mb-2">對別人有無好感，可以從他們的態度上就一目了然。</li></ul>
    </div>
  </div>
  <div class="row description-row mb-4">
    <div class="align-top col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <div class="description-label weakness">短處</div></div>
    <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <ul class="description-list">
        <li class="mb-2">依照自己的要求的條件選擇，並不代表就可以選擇到適合的人。</li>
        <li class="mb-2">他們堅持己見，容易一意孤行，思維僵化，也容易被摸透心思。</li>
        <li class="mb-2">他們對人的喜好強烈，對於自己欣賞的人，會有偏心。</li></ul>
    </div>
  </div>
  <div class="row description-row mb-4">
    <div class="align-top col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
      <div class="description-label operation">操作</div></div>
    <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
      <ul class="description-list">
        <li class="mb-2">對於他們的疑慮，一定要做到有問必答，讓他們安心，否則會被他們遷怒。</li>
        <li class="mb-2">他們有慣性思維，應該引導的方式幫助他們跳脫慣性思維，潛移默化的影響對他們比較有作用。</li>
        <li class="mb-2">對他們的家人好一點，這對於顧家的他們來說特別受用。</li></ul>
    </div>
  </div>
</div>
  </section>
</template>
<!-- 
<style lang="scss">
body {
	background: none !important;
}
</style>
 -->
<script>

</script>