<template>
  <section class="container" id="TmpStep2" style="margin-bottom: 100px;">
		<div class="row">
			<div :class="{ pad2em: !IsPC }" class="col-12">
				<div class="groupC">
					<div class="imgWrap1 groupC">
						<img :src="getSrc(1)">
					</div>
				</div>

				<div class="row" :class="{ groupC: !IsPC }">
					<div class="col-md-6">
						<h2 class="tit2">本命貴人</h2>
						<p>一生中，彼此具有相互感應的磁場 可分為強烈感應與正常感應 不需任何理由給予支持</p>
					</div>

					<div class="col-md-6" id="PicWrap1">
						<div :class="{ groupC: !IsPC }">
							<img :class="getImgClass2()" :src="getSrc(2)">
							<img class="roundX user1" :src="getImgUser()">
						</div>
						<b v-for="(one, ii) in arrObject" :key="ii" :class="'lbl1'+(ii+1)"><span v-html="txtName(one)"></span></b>
					</div>
				</div>

				<div class="row" :class="{ groupC: !IsPC }">
					<div class="col-md-6">
						<h2 class="tit2">年度貴人</h2>
						<p>在今年中(2024)，特別與你會有相互感應的
						磁場存在，能夠給你支持與協助的人，
						可分為強烈感應與正常感應<br>
						(磁場只有維持一年)</p>
					</div>

					<div class="col-md-6" id="PicWrap2">
						<div :class="{ groupC: !IsPC }">
							<img :class="getImgClass2()" :src="getSrc(3)">
							<img class="roundX user2" :src="getImgUser()">
						</div>
						<b v-for="(one, ii) in arrObject" :key="ii" :class="'lbl2'+(ii+1)"><span v-html="txtName(one)"></span></b>
					</div>
				</div>

<!-- 
				<div class="groupC BeginBtn mt-4">
					<button class="btn btn-primary" @click="onSubmit">開始測算</button>
					<div class="wrapbtn1 groupC pointer" @click="onSubmit"><h6>開始測算</h6></div>
				</div>
 -->

			</div>
		</div>

		<!-- <Msgbox ref="Msgbox" title="訊息" msg="華人道初始化華人道初始化" @clickOut="getMsgBtn" /> -->
		<!-- <Msgbox ref="Msgbox" msg="請勾選同意，才能開始測算" /> -->

  </section>
</template>

<script>
import { S_Obj } from '@/s_obj.js'
// import Msgbox from "@/components/Msgbox.vue"

const LSKey1 = 'FormGuiren'	// @@del
const IsPC		= window.screen.width >= 768	// @@del

const APIKey 	= 'APIURL_NOBLE'

function getKey(one, isLife) {
	const key1 	= isLife ? 'life' : 'year'
		,sKey 		= `noble_type_of_${key1}`
	return one[sKey].key
}
function GetNames(isLife) {
	const nLen 		= this.length
	let i	 		= 0
		,arr1 	= []

	while (i<nLen) {
		const o1 		= this[i]
			,hasStar 	= getKey(o1, isLife) == 'strong'
			,_name 		= o1.last_name+o1.first_name+(hasStar ? '*' : '')
		// console.warn('getList-o1: '+i, o1);	// @@
		arr1.push(_name)
		i++;
	}
	return arr1;
}
function ReplaceYear(v1) {
	if (v1) {
		return v1.replace("{year}", new Date().getFullYear())
	} else {
		return ''
	}
}


export default {
  // components: { Msgbox },
  data: function(){
    return {
			IsPC,
      // urlImg: this.$store.getters.urlImg,
			arrObject: ['車鑰匙','吳國寶','林秀足(強烈)','詹松標(強烈)','品消息'],	// @@del
			// arrObject: [],
      nUser: 2,				// 性別男女圖片
    };
  },
	// computed: {
		// isMale(){
			// return this.xxx
		// },
	// },
  methods: {
    txtName(one){
			let _name = one
				,hasI		= /\(強烈/.test(_name)
			if (hasI) {
				_name = _name.replace('(強烈)','')
				return `${_name}<i class="fas fa-crown"></i>`
			} else {
				return _name
			}
    },
    getImgUser(){
			return require(`@/assets/user${this.nUser}.png`)
    },
    getSrc(n1){
			return require(`@/assets/guiren${n1}.png`)
    },
		getImgClass2(){
			return IsPC ? 'img-fluid' : 'groupC w300'
    },
		// getImgClass1(){
			// // return IsPC ? 'float-end' : 'groupC'
			// return 'groupC'
    // },
    // onSubmit() {
			// this.$store.commit('setStep', 3)
		// },
    loadForm(){
			let form1 = S_Obj.read(LSKey1)
			console.warn('loadForm-form1: ', form1);	// @@
			if (form1) {
				this.nUser = form1.rdo1 == 1 ? 1 : 2
				// let arrTarget = [] 
					// ,i	 				= 1
				// while (i<6) {
					// let name1 = form1.name1[i]+form1.name2[i]
					// arrTarget.push(name1)
					// i++;
				// }
				// this.arrObject = arrTarget
			}
			// console.warn('loadForm-arrObject: ', this.arrObject);	// @@
    },
		async getApiData() {
			const api_url 	= S_Obj.read(APIKey)
			if (!api_url) { return; }

			try {
				let res1 = await this.csrfFetchAsync(api_url,"GET",null)
				return await res1.json();

			} catch (e){
				console.error('Error: ', e);
				throw 'API錯誤!!';
			}
		},
  },
  created() {
		// console.error('createdcreated');	// @@
		this.loadForm()
  },
	async mounted() {
		const result = await this.getApiData();
		console.warn('mounted-result: ', result);	// @@
		if (!result) { return; }

		let cont1 = ReplaceBRAll.call(result.content)

		const desc_year = ReplaceYear(cont1.suggestion_of_life)
			,target_year	= GetNames.call(result.target_set_of_year)
			// ,target_year	= GetNames.call(result.target_set)		// @@test
		// this.hasVIP = !!desc_year
		this.hasLogin = !!result.target_set_of_year

		this.resp1 = {
			desc_life: cont1.description_of_life,
			desc_year: desc_year,
			sugges_life: cont1.description_of_life,
			sugges_year: cont1.suggestion_of_year,
			sugges_none: cont1.suggestion_of_none,
			target_set: result.target_set,
			target_life: GetNames.call(result.target_set_of_life, 1),
			// target_life: GetNames.call(result.target_set, 1),	// @@test
			target_year: target_year,
			target_none: result.target_set_of_none,
		};
		// console.warn('mounted-resp1: ', this.resp1);	// @@

		// S_Obj.del(APIKey)	// 確保每次更新
	},

}
</script>