<template>
  <div class="container" id="TmpStep1">
		<!-- <form @submit.prevent="onSubmit" ref="Form1" id="Form1"> -->
		<form ref="Form1" class="row mt-4 pb-5">
			<div class="col"></div>
			<div class="col-10">
			<div class="mb-3">
				<label class="form-label">本人姓名<b class="Required">*必填</b></label>
				<div class="input-group">
					<span class="input-group-text">姓氏</span>
					<input class="form-control" v-model="form1.name1[0]" maxlength="2" :class="getClass(0)" @change="checkName(0)" required>
					<span class="input-group-text">名字</span>
					<input class="form-control" v-model="form1.name2[0]" maxlength="2" :class="getClass(0)" @change="checkName(0)" required>
					<b class="invalid-feedback">{{errMsg[0]}}</b>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label">生日<b class="Required">*必填</b></label>
				<div class="input-group">
					<span class="input-group-text">年</span>
					<input class="form-control" v-model="form1.birdth1" maxlength="4" placeholder="西元年" type="number" :class="{'is-valid': !errBirth,'is-invalid': errBirth}" @keyup="maxlen($event, 4)" @change="checkBirth($event)">
					<span class="input-group-text">月</span>
					<!-- <input class="form-control" v-model="form1.birdth2"> -->
					<select class="form-select" v-model="form1.birdth2">
						<!-- <option value="0" selected>請選擇</option> -->
            <option v-for="ii in 12" :value="ii">{{ ii }}月</option>
					</select>
					<b class="invalid-feedback">{{errBirth}}</b>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label">性別</label>
				<div class="input-group">
					<div class="form-check form-check-inline" v-for="(item, ii) in arrRdo1" :key="ii">
						<input class="form-check-input" v-model="form1.rdo1" name="rdo1" type="radio" :value="ii">
						<label class="form-check-label">{{item}}</label>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label">貴人姓名<b class="Required">*必填(至少1位)</b></label>
				<div class="input-group" v-for="ii in form1.name1.length-1" :value="ii+1">
					<span class="input-group-text">姓氏</span>
					<input class="form-control" v-model="form1.name1[ii]" maxlength="2" :class="getClass(ii)" @change="checkName(ii)" required>
					<span class="input-group-text">名字</span>
					<input class="form-control" v-model="form1.name2[ii]" maxlength="2" :class="getClass(ii)" @change="checkName(ii)" required>
					<b class="invalid-feedback">{{errMsg[ii]}}</b>
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<button class="btn btn-primary float-end" @click.prevent="onAddMe" :disabled="!canAdd"><i class="fas fa-plus"></i> 按我追加</button>
				<button class="btn btn-warning ms-2" @click.prevent="onRemoveMe" :disabled="!canRemove">移除此對象</button>
			</div>

			<div class="groupC BeginBtn mt-4">
				<!-- <div class="wrapbtn1 groupC pointer" @click="onValidate"><h6>分析</h6></div> -->
				<button class="btn btn-success" type="submit" @click="onValidate" :disabled="!isReady">開始分析</button>
				<button class="btn btn-secondary ms-4" @click="resetForm">重設表單</button>
			</div>
			</div>
			<div class="col"></div>
		</form>

  </div>
</template>

<script>
import axios from 'axios'
import { S_Obj } from '@/s_obj.js'
import { maxlen } from '@/fun2.js'
import { ChkChinese } from '@/fun1.js'

const IsDev = S_Obj.isDebug 	//開發debug
const LSKey1 = 'FormNoble'
const APIKey 	= 'APIURL_NOBLE'

// 以上不用扣 ============================

const MaxNum = 6, MinNum = 2

// const LangNum = GetLangNum()-1
const LangNum = 1
	,TxtErr1	= ['姓氏與名字皆必須輸入','姓氏与名字皆必须输入','姓氏與名字皆必須輸入']
	,TxtErr2	= ['生日輸入值有誤','生日输入值有误','Birthday input value is incorrect']
	,TxtNoCh	= [' 含有非中文字元',' 含有非中文字元',' Contains non-Chinese characters']
	,TxtNoKC	= [' 含有不是漢字的(非康熙字典)字元',' 含有不是汉字的(非康熙字典)字元',' Contains characters that are not Chinese characters (non-Kangxi dictionary)']


/* 檢查-康熙字典 */
async function ChkCharApi(v1) {
	const head	= { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }
		,url 			= 'http://localhost:8000/zh-hant/api/han/variant/'
		,body 		= {type_key: 3, char_set: ["品", "牌", "消"]}

	return await axios
	.post(url, body, head)
	.then(res => {
		console.warn('ChkCharApi-res: ', res);	// @@
		return res;
	}).catch((err) => {
		console.error('Error: ', err);	// @@
	});
}

export default {
  data: function(){
    return {
      arrRdo1: ["不指定","男","女"],
      form1: {},
      send: {},
      errMsg:	[],
      errBirth:	'',
      lenTarget: 	0,
			validOK: 		false,
      isReady: false,
    };
  },
	computed: {
		canRemove() {
			return this.lenTarget != MinNum
		},
		canAdd() {
			return this.isReady && this.lenTarget < MaxNum
			// return this.validForm() && this.lenTarget < MaxNum
		},
	},
  methods: {
		maxlen,
		validForm() {
			let nLen 	= this.form1.name1.length
				,i	 		= 0
				,bTrue	= true
			while (i<nLen) {
				const o1 = this.errMsg[i];
				bTrue = !!!o1
				if (!bTrue) {
					break;
				}
				i++;
			}

			if (this.errBirth) {
				bTrue = false
			}
console.warn('validForm-bTrue: ', bTrue);	// @@
			return bTrue
		},
    onAddMe() {
			if (this.canAdd) {
				this.form1.name1.push('')
				this.form1.name2.push('')
				this.autoValid()

			} else {
				alert(`上限最多 ${MaxNum} 組!`)
			}
    },
    onRemoveMe() {
// console.warn('onRemoveMe1-name1: ', this.form1.name1);	// @@
			if (this.canRemove) {
				this.form1.name1.pop()
				this.form1.name2.pop()
console.error('onRemoveMe2-name1: ', this.form1.name1);	// @@
				this.autoValid()

			} else {
				alert('最少1組!')
			}
    },
		getClass(i){
			const isNG 	= !!this.errMsg[i]
				,tag1			= isNG ? 'in' : ''
			return `is-${tag1}valid`
    },
    checkBirth(e) {
			const v1 	= this.form1.birdth1
				,curY		= new Date().getFullYear()
				,num1		= curY-v1
				,bTrue	= num1 > 0 && num1 < 120
			// console.warn('checkBirth-num1: ', num1);	// @@
			this.errBirth = !bTrue ? TxtErr2[LangNum] : ''
			e && this.$forceUpdate();
    },
    async checkName(i) {
			const name1 = this.form1.name1[i]
				,name2 = this.form1.name2[i]
			let _err = ''
			// console.warn('checkName-i,name1,name2: '+i ,name1 ,name2);	// @@

			if (!name1 || !name2) {
				_err = TxtErr1[LangNum]
			} else if (!ChkChinese(name1)) {
				_err = '姓氏'+TxtNoCh[LangNum]
			} else if (!ChkChinese(name2)) {
				_err = '名字'+TxtNoCh[LangNum]
			// } else if (!await ChkCharApi.call(this, name1+name2)) {
				// _err = TxtNoKC[LangNum]
			}

			this.errMsg[i] = _err+(_err ? '!' : '')
			// console.warn('checkName-errMsg: ', this.errMsg);	// @@
			this.$forceUpdate();
			this.isReady = this.validForm()
		},
    onValidate(event) {
			event.preventDefault(); event.stopPropagation()

			const bOK = this.isReady
			// console.warn('onValidate-bOK: ', bOK);	// @@
			if (bOK) {
				const frm1 = this.$refs.Form1
				frm1.classList.add('was-validated')
				this.onSubmit();
			// } else {
				// alert('請再檢查錯誤!')
			}
    },
    async onSubmit() {
			const frm1 = this.form1
			let source = {
				last_name: frm1.name1[0],
				first_name: frm1.name2[0],
				birth_year_month: frm1.birdth1+'-'+JSON.stringify(frm1.birdth2).padStart(2, 0)
			}
			this.send.source = source
			let arrTarget = [] 
				,i	 				= 1
			let nLen = this.form1.name1.length
			// console.warn('onSubmit-nLen: ', nLen);	// @@
			while (i<nLen) {
				arrTarget.push({
					last_name: frm1.name1[i],
					first_name: frm1.name2[i]
				})
				i++;
			}
			this.send.target_set = arrTarget
			console.warn('onSubmit-send: ', this.send);	// @@
			// const response = await this.csrfFetchAsync(
					// apiUrl.analysis,
					// "POST",
					// JSON.stringify(this.send))
			// const result = await response.json();
			// if (jso1.is_success) {
				// S_Obj.save(APIKey, jso1.result_api_url);
				// location = location.origin+jso1.result_url;
					this.$store.commit('setStep', 2)
			// }

    },
    // loadAPI() {
			// const one = S_Obj.read(APIKey)
			// if (one) {
				// console.error('loadAPI-one: ', this.one);	// @@
				// this.arrItem = one.item_set
			// }
			// // console.warn('loadAPI-arrItem: ', this.arrItem);	// @@
		// },
    loadForm(){
			this.resetForm();

			let form1 = S_Obj.read(LSKey1)
			// let form1 = {"name1":["品牌","蘇","告訴","暫時","林","心如"],"name2":["消息","東坡","我們","禁止","心如","林"],"birdth1":1968,"birdth2":1,"rdo1":0}

			if (form1) {
				// console.warn('loadForm-form1: ', form1);	// @@
				this.form1 = form1
				if (!IsDev) {
					this.clearName()
				}
				this.autoValid()
			}
    },
    /* 表單資料初始化 */
    resetForm() {
      this.send = {}
      this.form1 = {
        name1: ['',''],
        name2: ['',''],
        birdth1: '',
        birdth2: 1,
        rdo1: 0,				// 性別
      }
			for (let i = 0; i < MaxNum-1; i++) {
				this.errMsg.push(TxtErr1[LangNum]);
			}
			this.errBirth = TxtErr2[LangNum]
			this.lenTarget = MinNum
		},
    clearName() {
			let arr1 	= this.form1.name1
				,arr2 	= this.form1.name2
				,nLen 	= arr1.length
				,i	 		= 1
			while (i<nLen) {
				arr1[i] = '';
				arr2[i] = '';
				i++;
			}
		},
    autoValid() {
			let arr1 	= this.form1.name1
			arr1.forEach((o1, i)=>{
				// console.warn('getList-o1: '+i, o1);	// @@
				this.checkName(i)
			})
			this.checkBirth()
		},
  },
  created() {
		// this.loadAPI();
		this.loadForm()
  },
  mounted() {
		/* input enter prevent button event */
		this.$refs.Form1.addEventListener("keydown", event => {
			if (event.key == "Enter") {
				event.preventDefault();
			}
		});
  },
	watch: {
		form1: {
			handler(frm1) {
				S_Obj.save(LSKey1, frm1);
				const arr1 = frm1.name1
				// console.warn('watch-name: ', arr1);	// @@
				this.lenTarget = arr1.length
			},
			deep: true
		},
  },
}
</script>