<li>
	<div class="tick">
			<input type="checkbox" id="tick_agree" name="privacy">
			<label for="tick_agree"></label>
	</div>
	<p>已詳細閱讀、瞭解並接受<span class="privacy-btn link-red">蒐集個人資料告知及同意事項</span></p>
</li>


input[type=checkbox], input[type=radio] {
    display: none;
    z-index: 100;
}

input[type=checkbox]+label, input[type=radio]+label {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

input[type=checkbox]+label::before {
    content: "";
    position: absolute;
    height: 22px;
    width: 21px;
    background-color: #fff6ca;
    border: 2px solid #000;
    border-radius: 5px;
    left: 0;
    top: 5px;
}

*, ::after, ::before {
    box-sizing: border-box;
}
input[type=checkbox]:checked+label::after, input[type=radio]:checked+label::after {
    content: "";
    position: absolute;
    height: 21px;
    width: 28px;
    background: url(../img/popup/check.png) center center no-repeat;
    left: 0;
    top: 0;
}