/*Block Headline*/
.headline {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
	font-size: 22px;
}

.headline h2,
.headline h3,
.headline h4 {
	margin: 0 0 -2px 0;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 2px solid #72c02c;
}

/*Link List*/
.link-list li {
	border-top: solid 1px #353535;
}

.link-list li:first-child {
	border-top: none !important;
}

.link-list a {
	color: #eee;
	font-size: 11px;
	padding: 6px 0px;
	display: inline-block;
	text-transform: uppercase;
}

.link-list li i {
	color: #bbb;
	float: right;
	margin-top: 10px;
}

/* Footer */
#Footer1 a.hit {
	color: #72c02c;
}

#Footer1 .footer {
	padding: 40px 0;	
	background: #272727;
}

#Footer1 .footer p {
	color: #eee;
}

#Footer1 .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
#Footer1 .link-list li {
	border-top: solid 1px #353535;
}

#Footer1 address,
#Footer1 .link-list a,
#Footer1 .link-list i {
	color: #eee;
}

#Footer1 address {
	line-height: 23px;
}

/*Copyright*/
#Footer1 .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

#Footer1 .copyright p {
	color: #eee;
	margin-top: 14px;
}

#Footer1 .copyright a {
	margin: 0 2px;
}

#Footer1 .map-img {
	background: url(img/map-img.png) 5px 60px no-repeat;
}
#Footer1 .btn-social {
    display: inline-block;
    width: 39px;
    height: 40px;
    line-height: 45px;
    border-radius: 50%;
    /* border: 2px solid #fff; */
    /* text-align: center; */
    /* font-size: 20px; */
}
#Footer1 .btn-outline {
    color: #fff;
    font-size: 20px;
    /* background: #000; */
    transition: all .3s ease-in-out;
    /* margin-top: 15px; */
}
#Footer1 .btn-outline:active, #Footer1 .btn-outline:focus, #Footer1 .btn-outline:hover {
    color: #18BC9C;
    background: #fff;
    /* border: 2px solid #fff; */
}
