/*Top Bar (login, search etc.)
------------------------------------*/
.header .topbar {
	z-index: 12;
	padding: 8px 0;
	position: relative;
}

@media (max-width: 450px) {
	.header .topbar {
		margin-bottom: 20px;
	}
}

.header .topbar ul.loginbar {
	margin: 0;
}

.header .topbar ul.loginbar > li {
	display: inline;
	list-style: none;
	position: relative;
	padding-bottom: 15px;
}

.header .topbar ul.loginbar > li > a,
.header .topbar ul.loginbar > li > a:hover {
	color: #7c8082;
	font-size: 11px;
	text-transform: uppercase;
}

.header .topbar ul.loginbar li i.fa {
	color: #ad39c1;
}

.header .topbar ul.loginbar li.topbar-devider {
	top: -1px;
	padding: 0;
	font-size: 8px;
	position: relative;
	margin: 0 9px 0 5px;
	font-family: Tahoma;
	border-right: solid 1px #bbb;
}

/*languages*/
.header .topbar ul.languages {
	top: 25px;
	left: -5px;
	display: none;
	padding: 4px 0;
	padding-left: 0;
	list-style: none;
	min-width: 100px;
	position: absolute;
	background: #f0f0f0;
}

.header .topbar li:hover ul.languages {
	display: block;
}

.header .topbar ul.languages:after {
	top: -4px;
	width: 0;
	height: 0;
	left: 8px;
	content: " ";
	display: block;
	position: absolute;
	border-bottom: 6px solid #f0f0f0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}

.header .topbar ul.languages li a {
	color: #555;
	display: block;
	font-size: 10px;
	padding: 2px 12px;
	margin-bottom: 1px;
	text-transform: uppercase;
}

.header .topbar ul.languages li.active a i {
	color: #999;
	float: right;
	margin-top: 2px;
}

.header .topbar ul.languages li a:hover,
.header .topbar ul.languages li.active a {
	background: #fafafa;
}

.header a, .header .topbar ul.languages li a:hover {
	text-decoration: none;
}

/*No Topbar*/
.header.no-topbar .navbar-toggle {
	margin-top: 25px;
}

/*--------------------------------------------------
    [2. Header - Navbar]
----------------------------------------------------*/

/*Navbar*/
.header {
	z-index: 99;
	background: #fff;
	position: relative;
	border-bottom: solid 2px #eee;
	margin-bottom: 2em;
}
@media (min-width: 768px) {
	.header {
		height: 88px;
	}
}


/*Header Container*/
.header > .container {
	display: table;
	margin-bottom: -36px;
}

@media (max-width: 450px) {
	.header > .container {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.header > .container {
		margin-bottom: 0;
	}
}

/*Logo*/
.header .logo {
	height: 100%;
	min-height: 40px;
	min-width: 100px;
	display: table-cell;
	vertical-align: middle;
}

.header .logo img {
	z-index: 1;
	margin: 6px 0;
	position: relative;
}

/*Big Logo Style*/
@media (max-width: 1200px) {
	.header img.big-logo {
		width: 120px;
		height: auto;
	}
}

/*Navbar Toggle*/
.header .navbar-toggle {
	border-color: #5fb611;
}

@media (max-width: 450px) {
	.header .navbar-toggle {
		margin-right: 0;
	}
}

.header .navbar-toggle .fa {
	color: #fff;
	font-size: 19px;
}

.header .navbar-toggle,
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
	background: #72c02c;
	padding: 6px 10px 2px;
}

.header .navbar-toggle:hover {
	background: #5fb611 !important;
}

/*Navbar Collapse*/
.header .navbar-collapse {
	position: relative;
}

/*Navbar Collapse*/
@media (max-width: 450px) {
  	.header .navbar-collapse,
	.header .navbar-collapse .container {
		padding-left: 0;
		padding-right: 0;
	}
}

/*Navbar Menu*/
.header .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight:400;
	text-transform: uppercase;

    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.header .navbar-nav > .active > a {
	color: #72c02c;
}

@media (min-width: 768px) {
	.header .navbar-nav {
		float: right;
		flex-direction: row;
	}
}

/*--------------------------------------------------
    [3. Header - Responsive Navbar Style]
----------------------------------------------------*/

/*Responsive Navbar*/
@media (max-width: 450px) {
	/*Responsive code for max-width: 450px*/
    .header .navbar-header {
        float: none;
    }

    .header .navbar-toggle {
        display: block;
    }

    .header .navbar-collapse.collapse {
        display: none !important;
    }

    .header .navbar-collapse.collapse.in {
        display: block !important;
  		overflow-y: auto !important;
    }

    .header .navbar-nav {
        margin: 0 0 5px;
        float: none !important;
    }

    .header .navbar-nav > li {
        float: none;
    }

    .header .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    /*Pull Right*/
    .header .dropdown-menu.pull-right {
		float: none !important;
	}

	/*Dropdown Menu Slide Down Effect*/
	.header .navbar-nav .open .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		margin-top: 0;
		position: static;
		box-shadow: none;
		background-color: transparent;
	}

	.header .navbar-nav .open > a,
	.header .navbar-nav .open > a:hover,
	.header .navbar-nav .open > a:focus {
		border-bottom-color: #eee;
	}

	.header .navbar-nav .open .dropdown-menu > li > a,
	.header .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}

	.header .navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}

	.header .navbar-nav .open .dropdown-menu > li > a:hover,
	.header .navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}

	.header .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}

	.header .navbar-nav .open .dropdown-menu > li > a:hover,
	.header .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
		background-color: transparent;
	}

	.header .navbar-nav .open .dropdown-menu > .active > a,
	.header .navbar-nav .open .dropdown-menu > .active > a:hover,
	.header .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}

	.header .navbar-nav .open .dropdown-menu > .disabled > a,
	.header .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.header .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}

	.header .dropdown-menu.no-bottom-space {
		padding-bottom: 0;
	}

	/*Design for max-width: 450px*/
	.header .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.header .navbar-nav > li a {
		border-bottom: solid 1px #eee;
	}

	.header .navbar-nav > li > a:focus {
		background: none;
	}

	.header .navbar-nav > li > a:hover {
		color: #72c02c;
	}

	.header .navbar-nav > .active > a,
	.header .navbar-nav > .active > a:hover,
	.header .navbar-nav > .active > a:focus {
		background: #72c02c;
		color: #fff !important;
	}

	.header .dropdown .dropdown-submenu > a {
		font-size: 13px;
		color: #555 !important;
		text-transform: uppercase;
	}
}

@media (min-width: 768px) {
	/*Navbar Collapse*/
	.header .navbar-collapse {
		padding: 0;
	}

	/*Navbar*/
	.header .container > .navbar-header,
	.header .container-fluid > .navbar-header,
	.header .container > .navbar-collapse,
	.header .container-fluid > .navbar-collapse {
		margin-bottom: -10px;
	}

	.header .navbar-nav {
		position: relative;
	}

	.header .navbar-nav > li > a {
		bottom: -2px;
		position: relative;
		padding: 9px 20px;
	}

	.header .navbar-nav > li > a,
	.header .navbar-nav > li > a:focus {
		border-bottom: solid 2px transparent;
	}

	.header .navbar-nav > li > a:hover,
	.header .navbar-nav > .active > a {
		bottom: 0;
		position: relative;
		border-bottom: solid 2px #72c02c;
	}

	.header .navbar-nav > li > a,
	.header .navbar-nav > li > a:hover,
	.header .navbar-nav > li > a:focus,
	.header .navbar-nav > .active > a,
	.header .navbar-nav > .active > a:hover,
	.header .navbar-nav > .active > a:focus {
		background: none;
	}

	.header .navbar-nav > .open > a,
	.header .navbar-nav > .open > a:hover,
	.header .navbar-nav > .open > a:focus {
		color: #72c02c;
	}

	.header .navbar-nav > li:hover > a {
        color: #72c02c;
    }

	/*Dropdown Menu*/
	.header .dropdown-menu {
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0;
		z-index: 9999 !important;
		border-top: solid 2px #72c02c;
		border-bottom: solid 2px #687074;
	}

	.header .dropdown-menu li a {
		color: #687074;
		font-size: 13px;
		font-weight: 400;
		padding: 6px 15px;
		border-bottom: solid 1px #eee;
	}

	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		color: #687074;
		filter: none !important;
		background: #eee !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}

	.header .open > .dropdown-menu {
		display: none;
	}

	/*Search*/
	.header .navbar-nav .search-open {
		width: 330px;
	}
}

/*--------------------------------------------------
    [4. Header - Submenu]
----------------------------------------------------*/

/*Dropdown Submenu for BS3
------------------------------------*/
.header .dropdown-submenu {
   position: relative;
}

.header .dropdown > a:after,
.header .dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 450px) {
  	.header .dropdown-submenu > a:after {
      	content: " ";
  	}
}

.header .dropdown > a:after {
    top: 9px;
    right: 15px;
    content: "\f107";
}

.header .dropdown-submenu > .dropdown-menu {
	top: 3px;
	left: 100%;
	margin-top: -5px;
	margin-left: 0px;
}

/*Submenu comes from LEFT side*/
.header .dropdown-submenu > .dropdown-menu.submenu-left {
	left: auto !important;
  right: 100%;
}

.header .dropdown-submenu:hover > .dropdown-menu {
   	display: block;
}

@media (max-width: 450px) {
	.header .dropdown-submenu > .dropdown-menu {
		display: block;
		margin-left: 15px;
	}
}

.header .dropdown-submenu.pull-left {
	float: none;
}

.header .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

/*Dropdow Mmenu Icons (Font Awesome)*/
.header .dropdown-menu li [class^="fa-"],
.header .dropdown-menu li [class*=" fa-"] {
	left: -3px;
	width: 1.25em;
	margin-right: 1px;
	position: relative;
	text-align: center;
	display: inline-block;
}
.header .dropdown-menu li [class^="fa-"].fa-lg,
.header .dropdown-menu li [class*=" fa-"].fa-lg {
	/* increased font size for fa-lg */
	width: 1.5625em;
}


/*--------------------------------------------------
    [5. Header - Search]
----------------------------------------------------*/

/*Search Box
------------------------------------*/
.header .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;
}

@media (min-width: 768px) {
	.header .nav > li > .search {
		/* bottom: -2px; */
		position: relative;
	}
}

.header .nav > li > .search:hover {
	color: #72c02c;
	background: #f7f7f7;
	border-bottom-color: #72c02c;
}

.header .nav .search-open {
	right: 0;
	top: 40px;
	display: none;
	padding: 14px;
	position: absolute;
	background: #fcfcfc;
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd;
}

.header .nav .search-open form {
	margin: 0;
}

@media (min-width: 768px) and (max-width: 450px) {
	.header .navbar-toggle {
		margin-right: 0;
	}

	.header .nav .search-open {
		width: 93%;
	}
}

@media (max-width: 450px) {
	.header .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		text-align: left;
		background: #eee;
		line-height: 12px;
		text-align: center;
		margin: 5px 10px 0;
		border-bottom: none;
	}

	.header .nav > li > .search:hover {
		background: #5fb611;
		color: #fff !important;
	}

	.header .nav .search-open {
		top: 5px;
		padding: 0;
		left: 48px;
		border-top: none;
		box-shadow: none;
		background: none;
		margin-right: 10px;
	}
}


/*--------------------------------------------------
    [6. Header - Mega Menu]
----------------------------------------------------*/

/*Mega Menu
------------------------------------*/
#MegaMenu, #MegaMenu .nav,
#MegaMenu li {
  	position: static;
}

#MegaMenu .navbar-inner,
#MegaMenu .container {
  	position: relative;
}

#MegaMenu .dropdown-menu {
  	left: auto;
}

#MegaMenu .dropdown-menu > li {
  	display: block;
}

#MegaMenu .dropdown-submenu .dropdown-menu {
  	left: 100%;
}

#MegaMenu .nav.pull-right .dropdown-menu {
  	right: 0;
}

#MegaMenu .MegaMenu-content {
  	*zoom: 1;
  	padding: 4px 15px;
}

#MegaMenu .MegaMenu-content:before,
#MegaMenu .MegaMenu-content:after {
  	content: "";
  	display: table;
  	line-height: 0;
}

#MegaMenu .MegaMenu-content:after {
  	clear: both;
}

#MegaMenu .nav > li > .dropdown-menu:after,
#MegaMenu .nav > li > .dropdown-menu:before {
  	display: none;
}

#MegaMenu .dropdown.MegaMenu-fullwidth .dropdown-menu {
  	left: 0;
  	right: 0;
  	overflow: hidden;
}

/*Mega Menu Content*/
@media (min-width: 768px) {
    #MegaMenu .equal-height-in {
        padding: 20px 0;
        border-left: 1px solid #eee;
    }

    #MegaMenu .equal-height-in:first-child {
        border-left: none;
        margin-left: -1px;
    }

    #MegaMenu .equal-height-list {
    	width: 100%;
    }

    #MegaMenu .equal-height-list li a {
        display: block;
        margin-bottom: 1px;
        position: relative;
        border-bottom: none;
        padding: 5px 10px 5px 15px;
    }

    #MegaMenu .equal-height-list a:hover {
    	text-decoration: none;
    }

    /*Dropdown Arrow Icons*/
    #MegaMenu .MegaMenu-content li a {
    	padding: 5px 10px 5px 30px;
    }

    #MegaMenu .MegaMenu-content li a:after {
        top: 7px;
        left: 15px;
        font-size: 11px;
        content: "\f105";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
    }

    /*Dropdown Arrow Icons Disable class*/
    #MegaMenu .disable-icons li a {
    	padding: 5px 10px 5px 15px;
    }

    #MegaMenu .disable-icons li a:after {
    	display: none;
    }
}



/*--------------------------------------------------
    [8. Header - Fixed]
----------------------------------------------------*/

/*Header*/
.header-fixed .header {
	height: auto;
}

.header-fixed .header.header-sticky {
	margin-top: 0;
	transition: all 0.2s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/*z-index fixed in v1.9 for layer slider arrows*/
.header-fixed .header.header-fixed-shrink {
	z-index: 10100;
	border-bottom: none;
	box-shadow: 0 0 3px #bbb;
	background: rgba(255,255,255, 0.96);
	transition: all 0.3s ease-in-out;
}

@media (max-width: 450px) {
	/*Header*/
	.header-fixed .header.header-sticky,
	.header-fixed .header.header-fixed-shrink {
		position: relative;
	}
}

@media (min-width: 768px) {
	.header-fixed .header.header-fixed-shrink {
		margin-top: -35px;
	}
	.header-fixed .header.header-fixed-shrink > .container {
		margin-bottom: -46px;
	}

	/*Logo*/
	.header-fixed .header.header-fixed-shrink .logo img {
		max-width: 105px;
		margin: 45px 0 -4px;
	}

	/*Navbar Nav*/
	.header-fixed .header.header-fixed-shrink .navbar-nav > li > a {
		padding-top: 19px;
		padding-bottom: 19px;
	}

	.header-fixed .header.header-fixed-shrink .navbar-nav > li > a:hover,
	.header-fixed .header.header-fixed-shrink .navbar-nav > .active > a {
		border-bottom: none;
	}

	/*Dropdown*/
	.header-fixed .header.header-fixed-shrink .dropdown > a:after {
		top: 20px;
	}

	/*Search*/
	.header-fixed .header.header-fixed-shrink .nav > li > .search {
		color: #777;
		padding: 20px 0 22px;
		background: inherit;
		border-bottom: none;
	}

	.header-fixed .header.header-fixed-shrink .nav .search-open {
		top: 60px;
	}
}

/* ///////////////////////////////////////
	以下是 改寫/追加 外掛區
/////////////////////////////////////// */

header .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav>li {
    position: relative;
    display: block;
}

.dropdown-menu, .navbar-toggle {
    border-radius: 0;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (min-width: 768px) {
	.navbar-collapse {
			width: auto;
			border-top: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
	}
	.navbar-collapse.collapse {
			display: block!important;
			height: auto!important;
			padding-bottom: 0;
			overflow: visible!important;
	}
	.navbar-nav {
			float: left;
			margin: 0;
	}
	.navbar-nav>li {
			float: left;
	}
	.navbar-toggle {
			display: none;
	}
}