body {
	line-height: 24px;
/* 
	background-position: center;
	background: linear-gradient(135deg,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
	background: linear-gradient(135deg,  #bfd255 0%,#8eb92a 41%,#72aa00 58%,#9ecb2d 100%);
	background: linear-gradient(180deg, #bb91bb 0%, #D5B292 100%), #FFFFFF;
 */
}