<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

		<!-- FontAwesome專屬你的 Kit's Code -->
		<script src="https://kit.fontawesome.com/029de851be.js" crossorigin="anonymous"></script>

    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>金價試算 - JH Gold 嘉恆創新科技貴金屬</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
