<template>
  <!-- 試算說明文字 -->
  <div id="TodayPrice" class="app" :style="{height:nHeight+'px'}">
  <!-- <div id="TodayPrice"> -->
    <!-- <div class="topHeader">2023年10月15日星期日時間14:30</div> -->
    <div class="topHeader">
			<span class="red">{{year}}</span> 年
			<span class="red">{{month}}</span> 月
			<span class="red">{{date}}</span> 日
			<span class="blank1">星期</span>
			<span class="red">{{week1}}</span>
			<span class="blank1">時間</span>
			<span class="red">{{time1}}</span>
		</div>

		<section class="BakImg">
			<!-- <img src="@/assets/TodayPrice.jpg" class="img-fluid"> -->
			<h1>今 日 金 價</h1>
			<div class="flex">
				<div>
					<div class="inptitle">條塊</div>
					<div class="dipwarp">
						<div class="content">賣出<span class="red">{{sell1}}</span></div>
					</div>
					<div class="dipwarp">
						<div class="content">買入<span class="red">{{buy1}}</span></div>
						<div class="remark">(重量單位:錢)</div>
					</div>
				</div>
				<div>
					<div class="inptitle">飾金</div>
					<div class="dipwarp">
						<div class="content">賣出<span class="red">{{sell2}}</span></div>
					</div>
					<div class="dipwarp">
						<div class="content">買入<span class="red">{{buy2}}</span></div>
						<div class="remark">(重量單位:錢)</div>
					</div>
				</div>
			</div>
		</section>
  </div>
</template>

<style lang="scss">
#TodayPrice {
  text-align: center;
	font-family: math;
	font-weight: bold;
	height: 100%;
	overflow: hidden;
	color: #5d422d;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-image: url('../assets/TodayPrice.jpg');

	/* background-repeat: no-repeat; */
	/* background-position: center top; */
	/* background-attachment: fixed; */

	.topHeader {
    position: absolute;
    top: 4vh;
    right: 4vw;
    font-size: 2vw;
		.blank1 {
			margin-left: 1vw;
		}
	}
	section {
		position: fixed;
    top: 20vh;
    left: 15vw;
	}
	h1 {
		font-size: 6.2vw;
		margin: 6vh 0;
		margin-left: 1vw;
	}
	.dipwarp {
		margin: 20px 30px;
	}
	.inptitle,.content {
		font-size: 3vw;
	}
	.inptitle {
		margin-bottom: -10px;
	}
	.content {
    width: 27vw;
    height: 9vh;

    padding: 16px 40px;
    padding: 2vh 3vw;
		/* padding-left: 40px; */
		background-color: #fff;
		border: 2px solid #5d422d;
		border-radius: 15px;
		text-align: left;
		display: inline-flex;
		align-items: center;
	}
	.content .red {
    position: relative;
		margin: 0 auto;
	}
	.remark {
		margin-top: 10px;
    font-size: 2em;
    font-size: 1.5vw;
    /* font-family: math; */
	}

	/* 針對手機 */
	@media (max-width: 450px) {
		background-image: url('../assets/TodayPrice2.jpg');
 
		.topHeader {
			right: 0;
			top: 30vh;
			position: relative;
			display: flex;
			justify-content: center;
			font-size: 4.5vw;

			.blank1 {
				margin-left: 2vw;
			}
		}
		section {
			top: 28vh;
			/* left: .2vw; */
			left: 0;

			/* position: relative; */
			/* margin: 0 auto; */
		}
		h1 {
			font-size: 15vw;
			margin-bottom: 3vh;
		}
		.dipwarp {
			margin: 2vh 5vw;
		}
		.inptitle,.content {
			font-size: 6vw;
		}
		.inptitle {
			margin-bottom: 0;
		}
		.content {
			width: 32vw;
			height: 5vh;
			padding: 1vh 3vw;
		}
		.flex {
				margin-left: 1vw;
		}
		.remark {
			/* margin-top: 10px; */
			font-size: 4vw;
		}
	}

	/* 針對手機-横屏 */
	@media screen and (max-height: 500px) and (orientation: landscape) {
		section {
			top: 10vh;
		}
	}

	.current-time {
		color: rgb(230, 85, 85);
	}
}
</style>

<script>
import store from 'src/store'

const Week = ["日","一","二","三","四","五","六"]

export default {
  name: 'TodayPrice',
  data() {
    return {
      state: this.$store.state,
      timerID: '',				// 倒數計時
      year: '',
      month: '',
      date: '',
      hour: '',
      mins: '',
      week1: '',
      sec1: '',	// @@
      // nHeight: 0,	// NG!!
      // nHeight: undefined,	// ok
      nHeight: window.innerHeight,
    };
  },
  computed: {
    gData() {
			return this.state.gData
    },
		// 條塊-買入
    buy1() {
			return this.gData.buy1
    },
		// 飾金-買入
    buy2() {
			return this.gData.buy2
    },
		// 條塊-賣出
    sell1() {
			return this.gData.sell1
    },
		// 飾金-賣出
    sell2() {
			return this.gData.sell2
    },
    time1() {
			// return `${this.hour}:${this.mins}`
			return `${this.hour}:${this.mins}:${this.sec1}`
    },
  },
  methods: {
    updateTime(){
			var cd = new Date();

      this.year = zeroPadding(cd.getFullYear(), 4)
      this.month = zeroPadding(cd.getMonth() + 1, 2)
      this.date = zeroPadding(cd.getDate(), 2)
      this.hour = zeroPadding(cd.getHours(), 2)
      this.mins = zeroPadding(cd.getMinutes(), 2)
      this.sec1 = zeroPadding(cd.getSeconds(), 2)	// @@
      this.week1 = Week[cd.getDay()]
    },
		/* 啟動計時 */
    goRunTimer(){
			this.timerID = setInterval(this.updateTime, 1000);
    },
    handleResize() {
      this.nHeight = window.innerHeight
			// console.warn('handleResize: ', this.nHeight);	// @@
    },
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
    this.goRunTimer();
  },
  // created() {
  // },
  beforeDestroy() {
		clearInterval(this.timerID)
    window.removeEventListener('resize', this.handleResize)
  },
	/* 只有第1次進入才來 */
  async beforeRouteEnter(to, from, next) {
		await store.dispatch('fetchAllData')
		// console.warn('fetchAllData-gData: ', store.state.gData);	// @@

		next()
  },
};

function zeroPadding(num, digit) {
	var zero = '';
	for (var i = 0; i < digit; i++) {
		zero += '0';
	}
	return (zero + num).slice(-digit);
}
</script>