<template>
  <div id="TodayPrice2" class="marqueeArea app" :style="{height:nHeight+'px'}">
<div class="wrap b-box clearfix">
  <div class="left">
    <div class="marqueeBackBox">
      <div class="marTitle">
        <div class="date">2023.11.16</div>
        <h2>今日黃金優質回收價</h2></div>
      <ul class="clearfix" id="marqueeTxtBack">
        <li>
          <div class="item">
            <h3>黃金條塊</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;">
              <span class="num">7440</span>(元/每錢)</p></div>
        </li>
        <li>
          <div class="item">
            <h3>白金</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;">
              <span class="num">3200</span>(元/每錢)</p></div>
        </li>
        <li>
          <div class="item">
            <h3>飾金</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;">
              <span class="num">7350</span>(元/每錢)</p></div>
        </li>
      </ul>
      <!-- <a href="https://www.ts-gold.com.tw/news-detail/122/" class="moreBtn" target="_blank">立即前往即時黃金回收價格表</a> -->
			</div>
  </div>
  <div class="right">
<!-- 
    <div class="marqueeBox">
      <ul class="clearfix">
        <li>
          <div class="item">
            <span></span>
            <h3>高價回收黃金、白金、鈀金、白銀
              <br>高價回收工業黃金、白金、鈀金等貴金屬原料廢料
              <br>K金回收！照金價！</h3>
            <a href="https://www.ts-gold.com.tw/news-detail/127/" class="moreBtn" target="_blank">立即了解貴金屬回收服務</a></div>
        </li>
      </ul>
    </div>
 -->
  </div>
</div>


<!-- 
		<section class="BakImg">
			<h1>{{year}}.{{month}}.{{date}} 今日黃金優質回收價</h1>
			<div class="wrap">
				<div class="left">
					<ul class="ulWrap clearfix">
						<li>
							<div class="item">
								<h3>黃金條塊</h3>
								<p class="ellipsis" style="overflow-wrap: break-word;">
									<span class="num">7440</span>(元/每錢)</p></div>
						</li>
						<li>
							<div class="item">
								<h3>白金</h3>
								<p class="ellipsis" style="overflow-wrap: break-word;">
									<span class="num">3200</span>(元/每錢)</p></div>
						</li>
						<li>
							<div class="item">
								<h3>飾金</h3>
								<p class="ellipsis" style="overflow-wrap: break-word;">
									<span class="num">7350</span>(元/每錢)</p></div>
						</li>
					</ul>
				</div>
				<div>
				</div>
			</div>
		</section>
 -->

  </div>
</template>

<style lang="scss">

</style>

<script>
const Week = ["日","一","二","三","四","五","六"]

export default {
  name: 'TodayPrice',
  data() {
    return {
      state: this.$store.state,
      timerID: '',				// 倒數計時
      year: '',
      month: '',
      date: '',
      hour: '',
      mins: '',
      week1: '',
      sec1: '',	// @@
      // nHeight: 0,	// NG!!
      // nHeight: undefined,	// ok
      nHeight: window.innerHeight,
    };
  },
  methods: {
    handleResize() {
      this.nHeight = window.innerHeight
			// console.warn('handleResize: ', this.nHeight);	// @@
    },
    updateTime(){
			var cd = new Date();
      this.year = zeroPadding(cd.getFullYear(), 4)
      this.month = zeroPadding(cd.getMonth() + 1, 2)
      this.date = zeroPadding(cd.getDate(), 2)
    },
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
    this.updateTime();
  },
  created() {
		document.getElementById('app').className = 'TodayPrice2';
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
		document.getElementById('app').className = '';
  },
};

function zeroPadding(num, digit) {
	var zero = '';
	for (var i = 0; i < digit; i++) {
		zero += '0';
	}
	return (zero + num).slice(-digit);
}
</script>