<template>
		<footer id="Footer1">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3">
							<a href="index.html"><!-- <img class="footer-logo" src="static/icon/logo.png" alt=""> --></a>
							<!-- <p class="mt-4">About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p> -->

						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Link List -->
						<div class="col-md-3">
							<div class="headline"><h2>相關資訊</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/zh-hant/page_content/terms/">服務條款</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/zh-hant/page_content/privacy/">隱私權政策</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Address -->
						<div class="col-md-3 map-img">
							<div class="headline"><h2>聯絡我們</h2></div>
							<address class="md-margin-bottom-40">
								25, Lorem Lis Street, Orange <br />
								California, US <br />
								Phone: 800 123 3456 <br />
								Fax: 800 123 3456 <br />
								Email: <a href="mailto:info@anybiz.com" class="hit">info@anybiz.com</a>
							</address>
						</div><!--/col-md-3-->
						<!-- End Address -->

						<div class="col-md-3">
							<div class="headline"><h2>追蹤我們</h2></div>
							<ul class="list-inline">
								<li>
									<a href="https://lin.ee/TsdAioK" class="btn-social btn-outline">
										<i class="fa-brands fa-line fa-2x"></i>
									</a>
								</li>
							</ul>
						</div><!--/col-md-3-->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12" style="text-align: center;">
							<p>
								© 2022 - 2024
								<a href="https://huaxia2u.com/" class="hit">華賦有限公司</a>保留所有權利
							</p>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</footer>

</template>
<!-- 
<style lang="scss" scoped>
@import '@/styles/footer1.css';
</style>
 -->
<style src="@/styles/footer1.css" scoped></style>

<script>
// export default {
  // data: function(){
    // return {
      // // state: this.$store.state,
    // };
  // },
  // // created() {
		// // console.warn('Footer1Footer1');	// @@
  // // },

// }
</script>