<template>
		<header class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="index.html">
					<img src="@/assets/logo.png" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar float-end">
						<li class="hoverSelector">
							<i class="fa fa-globe"></i>
							<a>語系</a>
							<ul class="languages hoverSelectorBlock">
								<li class="active">
									<a href="#">繁體中文 <i class="fa fa-check"></i></a>
								</li>
								<li><a href="#">簡體中文</a></li>
								<li><a href="#">Russian</a></li>
								<li><a href="#">German</a></li>
							</ul>
						</li>
						<li class="topbar-devider"></li>
						<li><a href="#">
							您的帳號
						</a></li>
<em v-if="hasLogin">
						<li class="topbar-devider"></li>
						<li><a href="#" @click="goto('member')">
							管理介面
						</a></li>
</em>
						<!-- <li class="topbar-devider"></li>
						<li><a href="page_faq.html">Help</a></li> -->
						<li class="topbar-devider"></li>
						<li><a href="page_login.html" @click="doLogin">{{loginTxt}}</a></li>

					</ul>
				</div>
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button id="BtnMenu" type="button" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<div id="MegaMenu" class="collapse navbar-collapse navbar-expand-lg">
				<div class="container">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">Home</a></li>
						<li class="active">
							<a href="#dapp/playlife/">玩轉人生</a></li>
						<li>
							<a href="#vip_plan/">VIP 方案</a></li>
						<li>
							<a href="#product/">商品</a></li>
						<li>
							<a href="#contact/">聯絡我們</a></li>
						<li>
							<a href="#cooperation/">合作提案</a></li>
						<li><!-- Search Block -->
							<i class="search fa fa-search search-btn"></i>
							<div class="search-open">
								<div class="input-group animated fadeInDown">
									<input type="text" class="form-control" placeholder="Search">
									<span class="input-group-btn">
										<button class="btn-u" type="button">Go</button></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</header>

</template>

<!-- <style lang="scss" scoped></style> -->

<script>
import { goto } from '@/fun2.js'
import '@/styles/header1.css';

export default {
  data: function(){
    return {
      state: this.$store.state,
      href1: '',		// 記錄滾動之元素id
    };
  },
  computed: {
    isHome() {
			return !this.state.curPage
    },
    hasLogin() {
			return this.state.isLogin
    },
    loginTxt() {
			return '登'+(this.hasLogin ? '出' : '入')
    },
  },
  watch:{
    $route: {
			handler(new1, old) {
				// console.warn('route-new: ', new1);	// @@
				if (new1.name == 'index') {
					// console.error('route-href1: ', this.href1);	// @@
					this.$nextTick( function() {
						this.scrollView(this.href1);
					}) ;
				}
			},
			deep: true
    },
  },
  methods: {
		goto,
    async doLogin() {
			if (this.hasLogin) {
				await this.$store.dispatch('logout')
				this.goto('/')
			} else {
				this.goto('login')
			}
    },
		/* 滾動至位置 */
    goHref(v1) {
			// console.warn('goHref-v1: ', v1);	// @@
			if (!this.isHome) {
				this.href1 = v1
				this.goto('/');

			} else {
				this.scrollView(v1);
			}
    },
    scrollView(v1) {
			if (!v1) { return; }
			document.getElementById(v1).scrollIntoView({ behavior: "smooth", block: 'center' });
    },
  },
  created() {
		console.warn('Header1Header1');	// @@
  },

}
</script>