<template>
	<em>
		<div id="myModal" v-show="flgOpen" class="modal fade" :class="{'show':flgOpen}">
			<div class="modal-dialog">
				<div class="modal-content">
					<div  v-if="title" class="modal-header">
						<h5 class="modal-title">{{title}}</h5>
						<!-- <button class="btn-close"></button> -->
						<button class="close" @click="closeMsg"><span>×</span></button>
					</div>
					<div class="modal-body">{{msg}}</div>
					<div class="modal-footer">
						<button class="btn btn-primary" @click="clickOut(1)">{{txt1}}</button>
						<button v-if="!!nType" class="btn btn-secondary" @click="clickOut(0)">{{txt2}}</button>
					</div>
				</div>
			</div>
		</div>
		<div id="backDrop" v-show="flgOpen" class="modal-backDrop fade"  :class="{'show':flgOpen}"></div>
	</em>
</template>

<style lang="scss">
.show {
	display: block !important;
}
</style>

<script>
/** @Type: 參數type => 1: 確定/取消, 2: 是/否, '': 好  */
export default {
	props: ['title','msg','nType'],
  data: function(){
    return {
			flgOpen: false,
    };
  },
  computed: {
    txt1(){
			const nType = this.nType
			return nType == 1 ? '確定' : (nType == 2 ? '是' : '關閉')
    },
    txt2(){
			const nType = this.nType
			return nType == 1 ? '取消' : (nType == 2 ? '否' : '')
    },
  },
  methods: {
		clickOut(n1) {
			this.$emit('clickOut', n1);
			this.closeMsg()
		},
    closeMsg(){
			this.flgOpen = false
    },
    openMsg(){
			this.flgOpen = true
    },
  }
};
</script>