/* 	.act1 {
	background: blueviolet;
} */
.second.act2 {
	background: red;
}

#box {
	width: 320px;
	height: 320px;
	border-radius: 50%;
	margin: 0px auto;
	position: relative;
	/* top: 100px; */
	background: beige;
}
.second {
	width: 76px;
	height: 50px;
	position: absolute;
	color: black;
	font-weight: bolder;
	text-align: center;
	font-size: 16px;
	background: burlywood;
}
.one {
	background: black;
}
.one, .two {
	width: 76px;
	height: 10px;
	margin-bottom: 2px;
	overflow: hidden;
}

.two:before {
	display: block;
	content: "";
	background: black;
	width: 32px;
	height: 10px;
	float: left;
}
.two:after {
	display: block;
	content: "";
	background: black;
	width: 32px;
	height: 10px;
	float: right;
}
.taipos {
	width: 0;
	height: 160px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 160px;
}
.taiji1 {
	margin-top: -80px;		/* 高度的一半*/
	margin-left: -80px;	/* 宽度的一半*/
	border-left: 80px solid #000;
	border-right: 80px solid #fff;
	box-shadow: 0 0 30px rgba(0,0,0,.5);
	animation: rotation 20s linear infinite;
	-webkit-animation: rotation 20s linear infinite;
	-moz-animation: rotation 20s linear infinite;
}
.taiji1:before,.taiji1:after {
	position: absolute;
	content: "";
	display: block;
}
.taiji1:before {
	width: 80px;
	height: 80px;
	top: 0;
	left: -40px;
	z-index: 1;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 80px 0 #000;
}
.taiji1:after {
	width: 24px;
	height: 24px;
	top: 30px;
	left: -10px;
	z-index: 2;
	background-color: #000;
	border-radius: 50%;
	box-shadow: 0 80px 0 #fff;
}
@keyframes rotation {
	0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(-360deg);
}
}
@-webkit-keyframes rotation {
	0% {
	-webkit-transform: rotate(0deg);
}
100% {
	-webkit-transform: rotate(-360deg);
}
}
@-moz-keyframes rotation {
	0% {
	-moz-transform: rotate(0deg);
}
100% {
	-moz-transform: rotate(-360deg);
}
}