<template>
  <div id="tmppage1" class="mt-4">
		<div class="groupC">
			<div class="title1" v-if="CurStep != 3">
				<img src="@/assets/hexagram/title1.png" class="img-fluid" />
			</div>
		</div>

		<div class="row" id="Hexagram0" v-if="CurStep == 0">
			<div class="col"></div>
			<div class="col-9">
				<div class="groupC">
					<div class="imgWrap1 groupC rule3">
						<img src="@/assets/hexagram/rule3.png" />
					</div>
				</div>

				<div class="groupC">
					<div class="imgWrap1 groupC rule2">
						<img src="@/assets/hexagram/rule2.png" />

					</div>
				</div>

				<!-- <h3>{{ uiMeta.notice.label }}</h3> -->
				<!-- 占卜規則 -->
				<div class="groupC">
					<div class="imgWrap1 groupC rule1">
						<img src="@/assets/hexagram/rule1.png" />

					</div>
				</div>

				<div class="pre1">
					<!-- <p v-html="txtHtml"></p> -->
				</div>
        <!-- <pre class="border border-3 p-3 shadow bg-light fs-6">{{ response.notice }}</pre> -->

				<div class="groupC" style="margin-top: 50px;">
					<div class="wrapbtn1 groupC pointer" @click="onAgree">
						<h6>同意</h6>
					</div>
				</div>

			</div>
			<div class="col"></div>
		</div>

		<TmpStep1 v-if="CurStep == 1" />
		<TmpStep2 v-if="CurStep == 2" />
		<TmpStep3 v-if="CurStep == 3" />


	<!-- <button class="btn btn-primary" @click="clickOne">OpenMsgbox</button> -->

<!-- 
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <button class="close" @click="closeMsg">
                    <span>×</span>
                </button>
                <button class="btn-close" @click="closeMsg"></button>

            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @click="closeMsg">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backDrop fade show" id="backDrop" style="display: none;"></div>
 -->


  </div>
</template>

<script>
import '@/styles/hexagram/main.scss';

import TmpStep1 from "@/views/hexagram/bagua/TmpStep1.vue"
import TmpStep2 from "@/views/hexagram/bagua/TmpStep2.vue"
import TmpStep3 from "@/views/hexagram/bagua/TmpStep3.vue"

export default {
  components: { TmpStep1,TmpStep2,TmpStep3 },
  // data: function(){
    // return {
      // CurStep: 3,		// @@
    // };
  // },
	computed: {
		/* 目前階段 */
		CurStep(){
			return this.$store.state.CurStep
		},
  },
  methods: {
		onAgree() {
			this.$store.commit('setStep', 1)
		},
  },
  created() {
		console.warn('hexagram_main.created-CurStep: ', this.CurStep);	// @@
		// this.$store.commit('setStep', 3)
  },
}
</script>