<template>
  <div class="container" id="tmppage2" style="margin-top:200px;">
<!-- 
		<div class="row">
				<div class="col">
					<div class="LightBox">
						<div class="blockBtn w300">
							<img src="@/assets/icon1.svg" />
							<img src="@/assets/icon1.svg" />
							加入vip天天占
						</div>
					</div>
				</div>
		</div>
 -->
		<div class="row">
			<!-- <div class="col"></div> -->
			<!-- <div class="col-9"> -->
<!-- 



				<div class="groupC">
					<div class="neon">加入VIP天天占</div>
				</div>
 -->
				<div class="col">
					<div class="box1"></div>
					<a class="box2 img-fluid">
						<img class="img220" src="@/assets/become_vip.png" />
					</a>
				</div>

			<!-- </div> -->
			<!-- <div class="col"></div> -->
		</div>
	</div>
</template>
<!-- 
<style lang="scss">
body {
	background: none !important;
}
</style>
 -->
<script>
import '@/styles/hexagram/tmppage2.scss';


export default {
  data: function(){
    return {
      // state: this.$store.state,
      // errorMsg: '',
      // arrFont: ['乾','兌','離','震','巽','坎','艮','坤'],
      // arrSort: [1567,8432],
      // arrUni: ['☰','☱','☲','☳','☴','☵','☶','☷'],
    };
  },
  methods: {
    // deviseUrl(url){
    // },
  },

}
</script>