<template>
  <div id="app">
    <!-- <router-view /> -->

		<Header1 v-if="hasHeader" />
		<transition name="fade">
			<div class="page-wrapper" ref="scrollWrap">
				<keep-alive>
					<router-view />
				</keep-alive>
				<Footer1 v-if="hasFooter" />
			</div>
		</transition>

  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body,
html {
  overflow-x: hidden;
}
</style>

<script>
// import store from '@/store'
// import { computed } from 'vue';

import Header1 from "@/components/Header1.vue";
import Footer1 from "@/components/Footer1.vue";

export default {
  components: { Header1, Footer1 },
  // setup(props, context) {
    // const isLoading = computed(() => store.state.isLoading)
    // const loadingMsg = computed(() => store.state.loadingMsg)
    // // return { isLoading, loadingMsg, layout }
    // return { isLoading, loadingMsg }
  // },
  data: function(){
    return {
			hasHeader: true,
			hasFooter: true,
    };
  },
  methods: {
		scrollToBottom() {
			const $it = this.$refs.scrollWrap
			if (!$it) { return; }

			// console.warn('scrollToBottom-it: ', $it);	// @@
			const h1 		= $it.offsetHeight
					// ,h2 		= $it.clientHeight
			this.$nextTick(() => {
				$it.scrollTop = h1;
				// const scrT = $it.scrollTop
				// console.warn('监听滚动条高度-height, scrT: ', h1, h2, scrT);	// @@
			});
		},
  },
  watch:{
    $route: {
			handler(new1, old) {
				// console.warn('route-new: ', new1);	// @@
				const hash1 = location.hash
				this.hasHeader = /hexagram|noble/.test(hash1)
				this.hasFooter = /capture|uploadPic/.test(hash1)
			},
			deep: true
    },
  },
	// mounted() {
		// this.$bus.$on('scrollToBottom', () => {
			// this.scrollToBottom()
		// })
	// },
	// created() {
		// console.error('AppAppApp');	// @@
	// },
}
</script>