<template>
  <div class="container" id="TmpStep2">
		<div class="row">
			<div class="col"></div>
			<div class="col-9">
				<h3>祈福文</h3>

				<div class="pre1" style="margin: 20px 0;height: 300px;">
					<p>
				'華人道'
				方面可以是一根據 'xxx' 女人留言深圳他的更新之后那個規定時候特別.
				國際更新以上實現標題起來個人的是能力不過有限發展.
				出現合作來自知道活動提供希望社區台灣人員標題.
				文章功能你們不同解決這麼還有顯示加入網站一直電影.
				軟體無法下載起來中心重要美國感覺以后項目美國
					</p>
				</div>

				<div class="mb-3 flex">
					<input v-model="chk1" :disabled="!bOK" type="checkbox" id="ChkOK1" />
					<label for="ChkOK1" class="check-box"></label>
					<span class="ml-2"> 我已經閱讀完畢
						<em v-if="countNum"> ({{countNum}} 秒)</em>
					</span>
				</div>

				<div class="groupC">
					<button class="btn btn-primary" @click="playGame" :disabled="!bOK">{{bOK?'開始測算':'閱讀中 '+(countNum+1)}}</button>
				</div>

			</div>
			<div class="col"></div>
		</div>

		<!-- <Msgbox ref="Msgbox" title="訊息" msg="華人道初始化華人道初始化" @clickOut="getMsgBtn" /> -->
		<Msgbox ref="Msgbox" msg="請勾選同意，才能開始測算" />

  </div>
</template>

<script>
import Msgbox from "@/components/Msgbox.vue"

export default {
  components: { Msgbox },
  data: function(){
    return {
			chk1: false,
			bOK: false,					// 讀秒前,按鈕是否可按
      countNum: 0,				// 倒數秒數
      counter: '',				// 倒數計時
    };
  },
  methods: {
		/* 倒數計時 */
    goRunTimer(nSecs){
			// 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled )
			this.countNum = nSecs

			// 啟動倒數計時
			this.counter = setInterval(() => {
				// 到 0 時清除倒數計時
				if (this.countNum <= 0) {
					this.bOK = true
					this.countNum = 0
					clearInterval(this.counter)
					return;
				}
				// 每一秒 - 1
				this.countNum -= 1;
			}, 1000);

    },
    resetForm() {
			this.countNum = 0
			this.counter = ''
			this.bOK = false
		},
    goStart() {
			this.resetForm()
			this.goRunTimer(8)
    },
    playGame() {
			if (this.chk1) {
				this.$store.commit('setStep', 3)
			} else {
				this.$refs["Msgbox"].openMsg();
			}
		},
  },
  created() {
		// console.error('createdcreated');	// @@
		this.goStart()
  },
}
</script>