<template>
  <section class="container fullHeight" id="TmpStep3" style="padding-top: 20px;height: 90vh;">
		<!-- <div class="row" style="margin-bottom: 80px;">
		</div> -->
		<div class="row">
			<div class="col">
<!--八卦圖-->
<div id="box">
  <div class="taiji1 taipos">太極圖</div>
  <div v-for="(one, ii) in arrObject" :key="ii" :style="getStyle(ii)"
		class="second" :class="{'act2':actNum==ii}">
    <span>{{one.prag}}</span>
    <div v-for="(item, jj) in one.styl.split(',')" :key="jj" :class="[item==1? 'one' :'two']"></div>
    <span>{{one.name}}</span>
	</div>
</div>
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<div class="groupC mb-4">
				<!-- <button class="btn btn-primary" @click="onStart" :disabled="isStart">{{isStart?'搖掛中':'開始'}}</button> -->

				<div class="wrapbtn1 groupC pointer" @click="playGame" :disabled="isStart">
					<h6>{{txtButton}}</h6>
				</div>
			</div>
		</div>

		<!-- <h1 class="red">占卜結果</h1> -->
		<div class="row resultBase">
			<div class="col-6">
				<span class="wraptxt res1">
					<h3>{{txtRes21}}</h3>
					<h2>{{txtRes22}}</h2>
				</span>

				<span class="wraptxt res2">
					<h3>{{txtRes11}}</h3>
					<h2>{{txtRes12}}</h2>
					<!-- <h3>坎卦</h3>
					<h2>☳</h2> -->
				</span>
			</div>

			<div class="col-6">
				<!-- <figure class="WrapR1" v-if="baguaId"> -->
				<figure class="WrapR1">
					<img :src="getSrc()">
				</figure>
			</div>

	<!-- 
			<div class="col-6">
				<div class="imgWrap1 groupC mt-1">
					<img src="@/assets/arrResult11.png">
					<div class="res1">
						<table class="table table-bordered table-striped table-hover">
						 <tbody>
							 <tr>
								<th>{{txtRes11}}</th>
								<td>{{txtRes12}}</td>
							 </tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
 -->
		</div>

		<!-- <div class="row"></div> -->
  </section>
</template>

<script>
import { GetRandNum } 	from '@/fun1.js'	// 共用fun

import '@/styles/0bak/bagua.scss';

export default {
  data: function(){
    return {
			arrObject: [{
					"id": 1,
					"name": "乾",
					"prag": "一天",
					"symbol": "☰",
					"styl": "1,1,1",
				}, {
					"id": 5,
					"name": "巽",
					"prag": "五風",
					"symbol": "☴",
					"styl": "1,1,2",
				}, {
					"id": 6,
					"name": "坎",
					"prag": "六水",
					"symbol": "☵",
					"styl": "2,1,2",
				}, {
					"id": 7,
					"name": "艮",
					"prag": "七山",
					"symbol": "☶",
					"styl": "1,2,2",
				}, {
					"id": 8,
					"name": "坤",
					"prag": "八地",
					"symbol": "☷",
					"styl": "2,2,2",
				}, {
					"id": 4,
					"name": "震",
					"prag": "四雷",
					"symbol": "☳",
					"styl": "2,2,1",
				}, {
					"id": 3,
					"name": "離",
					"prag": "三火",
					"symbol": "☲",
					"styl": "1,2,1",
				}, {
					"id": 2,
					"name": "兌",
					"prag": "二澤",
					"symbol": "☱",
					"styl": "2,1,1",
				}
			],
      form: {},
      isStart: false,
      isRuning: false,
      actNum: 0,					// 取到的數字
      cntPlay: 0,					// 玩的次數
      counter: '',				// 倒數計時
			// 卜卦結果
      lstId: 0,						// 記錄第一次取到的id
      baguaId: 1,					// 記錄2次相乘結果的id
      txtRes11: '',
      txtRes12: '',
      txtRes21: '',
      txtRes22: '',

			uiMeta: {
				shuffle: {
					label: '卜卦',
					btn1: {
						label: '搖掛中'
					},
					btn2: {
						label: '開始搖卦'
					},
					btn3: {
						label: '開始分析'
					},
					above: {
						label: '上卦'
					},
					below: {
						label: '下卦'
					}
				},
			},
			hexagramSet: null,
			beginShuffle: false,
			shuf1key: null,
			shuf2key: null,
    };
  },
  computed: {
		/* 下卦 */
		isShow1() {
			return !!this.txtRes11;
		},
		/* 上卦 */
		isShow2() {
			return !!this.txtRes21;
		},
		isReady() {
			return this.isShow1 && this.isShow2
		},
		txtButton() {
			const it = this.uiMeta.shuffle
			let num	= 3
			if (this.isReady && !this.isRuning) {
			} else {
				if (this.isStart) {
					num	= 1
				} else {
					num	= 2
				}
			}
// console.warn('txtButton-num, cntPlay,counter: '+num, this.cntPlay, this.counter);	// @@
			return it["btn"+num].label
		},
  },
  methods: {
    getStyle(i){
			const PI1 = Math.PI / 180 * 45 * i
				,maxLen	= 160
			return {
				left: maxLen*Math.sin(PI1)+maxLen-40+"px",
				top: maxLen-maxLen*Math.cos(PI1)-26+"px",
				transform: "rotate("+45*i+"deg)"
			};
    },
    getSrc(){
			const path1 	= '886'
			,curRes		= this.baguaId+''
			,fileName		= curRes.padStart(2, 0)		// 補0
			,fullPath		= `${path1}/${fileName}.png`
 console.error('getSrc-fullPath: ', fullPath);	// @@
			return require('@/assets/hexagram/'+fullPath)	// OK!
    },
    // getOneBagua(n1){
			// n1 = n1++;
			// for (let i=0, o; o=this.arrObject[i++];) {
				// if (o.id == n1) {
					// return o;
				// }
			// }
			// return '';
    // },
    // getBackImg(v1){
			// return {
				// // "background-image": 'url("'+URL_IMG+v1+'");',
				// "background-image": v1,
				// // "background-image": `url('${URL_IMG}${v1}');`
			// };
    // },
    getNumOne(){
			let a1 = GetRandNum(0,7)
// console.error('getNumOne-actNuma, a1: '+this.actNum, a1);	// @@
			if (a1 != this.actNum) {
				return a1
			} else {
				return this.getNumOne()
			}
    },
		/* 倒數計時 */
    goRunTimer(nSecs){
			let countNum 	= nSecs * 2		// 倒數秒數
			this.isRuning = true

			// 啟動倒數計時
			this.counter = setInterval(() => {
				this.$nextTick(() => {
					if (countNum != 0) {
						this.actNum = this.getNumOne()
					}
				});

				// 到 0 時清除倒數計時
				if (countNum <= 0) {
					countNum = 0
					clearInterval(this.counter)
					this.isStart = false
					this.isRuning = false

console.warn('倒數計時0-shuf1, shuf2: '+this.shuf1key, this.shuf2key);	// @@



					return;
				}
				// 每一秒 - 1
				countNum -= 1;
			}, 400);
    },
    onStart() {
			// this.isStart = !this.isStart
			this.isStart = true
			// if (this.isStart) {
				this.actNum = this.getNumOne()
				// console.log('onStart-actNum: ', this.actNum);	// @@
				this.cntPlay++
				this.goRunTimer(8);
				// this.goRunTimer(60);	// @@del
				// this.goRunTimer(1)		// @@del

			// } else {
				// clearInterval(this.counter)
			// }
    },
    playGame() {
			let bOK = !this.isStart
			if (this.isReady) {
				bOK && this.analyzeAsync();
			} else {
				bOK && this.onStart();
			}
		},
    analyzeAsync() {
			console.warn('品牌消息xxx');	// @@
    },
    /* 表單資料初始化 */
    resetForm() {
			this.lstId = -1
			this.baguaId = 1
			this.cntPlay = 0
			this.counter = ''
		},
  },
	watch: {
		actNum(num1){
				const n1 	= !!(this.cntPlay%2) ? 0 : 1
					,{ id, name, symbol } = this.arrObject[num1]
				let txt1 	= name+'卦'
				if (n1) {
					this.shuf2key = id
					this.txtRes21 = txt1
					this.txtRes22 = symbol
					this.baguaId = this.lstId * id
				} else {
					this.shuf1key = id
					this.lstId = id
					this.txtRes11 = txt1
					this.txtRes12 = symbol
				}
// console.log('lstId: '+this.lstId+', baguaId: '+this.baguaId+', txt1: ', txt1);	// @@
// console.warn('watch-actNum, txt1: '+num1, txt1);	// @@
    },
  },
  created() {
		this.resetForm()
  },
}
</script>