<template>
  <div class="container h80v" id="TmpStep1">
		<div class="row">
			<div class="col"></div>
			<div class="col-9">
		<!-- <form @submit.prevent="onSubmit" id="Form1"> -->
		<form ref="Form1">
	<!-- 
			<div class="form-group">
				<label class="form-label">是否為複姓</label>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="isCompoundLastName">
					<label class="form-check-label">是</label>
				</div>
			</div>
	 -->
			<div class="mb-3">
				<label for="fullName" class="form-label">姓名<b class="Required">*必填</b></label>
				<input type="text" id="fullName" class="form-control" 
				:class="{'is-valid': !errMsg,'is-invalid': errMsg}"
				placeholder="請輸入姓名" v-model="form.name" aria-describedby="fullName" required>
				<div class="invalid-feedback">{{errMsg}}</div>
			</div>

		<div class="form-group">
			<label class="form-label">測算項目</label>

<div class="Section2__content">
	<div class="card CardBox" :class="{'act1': setActive(ii)}" @click="clickCard(ii)" v-for="(one, ii) in arrSvg" :key="ii">
		<div class="icon1" :class="one.class">
			<!-- <img :src="`../assets/${one.id}.png`" width="24" height="24" /> -->
			<img :src="getSrc(one.id)" width="24" height="24" />
			<!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path v-html="one.path"></path>
			</svg> -->
		</div>
		<h3 class="heading3 text-center">{{one.name}}</h3>
	</div>

</div>

<!-- 
			<div class="form-check" v-for="(item, ii) in arrItem" :key="ii">
				<input class="form-check-input" v-model="form.choice" name="rdo1" type="radio" :value="ii+1" required>
				<label class="form-check-label">{{item}}</label>
				<div class="invalid-feedback">你必須勾選</div>
			</div>
 -->
		</div>

		<div class="groupC">
			<!-- <button class="btn btn-primary" @click="onValidate">分析</button> -->
			<div class="wrapbtn1 groupC pointer" @click="onValidate">
				<h6>分析</h6>
			</div>
		</div>

	</form>
		</div><!-- col-9 -->
		<div class="col"></div>
	</div>
	</div>
</template>

<script>
// import { GetRandNum } 	from '@/fun1.js'	// 共用fun
import { S_Obj } from '@/s_obj.js'

import arrSvg from '@/data/svg1.json' // NG(Module not found
console.warn('aaa-arrSvg: ', arrSvg);	// @@

const LSKey1 = 'FormHexagram'
const APIKey = 'apiHexagram'	// @@del

export default {
  data: function(){
    return {
			arrSvg,
      arrItem: [{key: "fortune", name: "運勢"},
				{key: "career", name: "事業"},
				{key: "love", name: "愛情"},
				{key: "far_way", name: "外出"}],
      form: {},
      errMsg: '',

    };
  },
  methods: {
    getSrc(id){
			return require(`@/assets/svg${id}.png`)
    },
    onValidate(event) {
			const frm1 = this.$refs.Form1
			if (this.errMsg || !frm1.checkValidity()) {
				event.preventDefault()
				// event.stopPropagation()
			} else {
				frm1.classList.add('was-validated')
				// frm1.submit();
				this.onSubmit();
			}
    },
    clickCard(i) {
			this.form.choice = i
    },
    setActive(i) {
			return this.form.choice == i
    },
    onSubmit() {
			this.$store.commit('setStep', 2)
    },
    loadData() {
			const one = S_Obj.read(APIKey)
			if (one) {
				console.error('loadData-one: ', this.one);	// @@

				this.arrItem = one.item_set
			}
			console.warn('loadData-arrItem: ', this.arrItem);	// @@
		},
		strLen(str) {
			return str.replace(/[^\x00-\xff]/g,"xx").length;
		},
    loadForm(){
			this.resetForm();
			let form1 = S_Obj.read(LSKey1)
			if (form1) {
				this.form = form1
			}
    },
    /* 表單資料初始化 */
    resetForm() {
      this.form = {
        name: '',
        // name: '華人道',		// @@
        choice: null,
      }
			// this.errMsg = '你必須輸入姓名'
		},
  },
  created() {
		this.loadForm()
		this.loadData();
  },
	watch: {
		form: {
			handler(frm1) {
				const v1 = frm1.name
				// console.warn('watch-name: ', v1);	// @@
				if (v1) {
					const nLen = this.strLen(v1)
					if (nLen < 4) {
						this.errMsg = '至少需 2 個字元'

					} else if (nLen > 10) {
						this.errMsg = '最多 5 個字元'

					// 是否有中文字
					} else if (!new RegExp("^[\u4e00-\u9fa5]+$").test(v1)) {
						this.errMsg = '含有非中文字元'

					} else {
						this.errMsg = ''
					}
					S_Obj.save(LSKey1, frm1);
				}
			},
			deep: true
		}
  },
}
</script>