<template>
<div id="Result" class="container">
	<!-- <div class="row"> -->
<!-- 
		<div class="col"></div>
		<div class="col-9"></div>
		<div class="col"></div>
 -->

		<!-- <div class="col"></div> -->

<!-- <div class="col-11"> -->
		<div class="divider half-margins"></div>

		<div class="h5 panel-box success">
			<h3 class="title">
				<i class="fa fa-bell"></i> 合作關係
			</h3>

			<div class="accordion">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">
							蘇東坡 <span class="badge text-bg-info">官</span>林心如
						</button>
					</h2>
					<div id="collapse1" class="accordion-collapse collapse show">
						<div class="accordion-body">
							所以一次不要方式密碼以上主要今天所有項
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse2">
							蘇東坡 <span class="badge text-bg-info">官</span>王慧茹
						</button>
					</h2>
					<div id="collapse2" class="accordion-collapse collapse show">
						<div class="accordion-body">
							所以一次不要方式密碼以上主要今天所有項
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse3">
							林心如 <span class="badge text-bg-info">隨</span>王慧茹
						</button>
					</h2>
					<div id="collapse3" class="accordion-collapse collapse show">
						<div class="accordion-body">
							所以一次不要方式密碼以上主要今天所有項
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="h5 panel-box warning">
			<h3 class="title">
				<i class="fa fa-bell" aria-hidden="true"></i> 角色承擔
			</h3>
			<div class="alert alert-danger groupC" role="alert">
				<span class="text-center">
					<i class="fa-solid fa-coffee"></i> 蘇東坡
				</span>
			</div>
			<div class="alert alert-danger groupC" role="alert">
				<span class="text-center">
					<i class="fa-solid fa-coffee"></i> 林心如
				</span>
			</div>
			<div class="alert alert-danger groupC" role="alert">
				<span class="text-center">
					<i class="fa-solid fa-coffee"></i> 王慧茹
				</span>
			</div>
		</div>

		<div class="h5 panel-box info">
			<h3 class="title">
				<i class="fa fa-bell" aria-hidden="true"></i> 建議說明
			</h3>

			<b>
				有2個
				<span class="badge text-bg-success">官</span>的合作關係
			</b>
			<p>一定都是提高程序人民積分那個規定而且一起狀態情況.
				<br>所以重要一點手機電腦沒有專業女人感覺網站因為現在.
				<br>政府表示不同上海需要類型市場希望全部隻有方法生產通過工程項目進入積分
			</p>
		</div>

		<div class="h5 panel-box danger">
			<h3 class="title">
				<i class="fa fa-bell" aria-hidden="true"></i> 結論
			</h3>
				這樣的合作關係，基本上合作起來是比較...
			<b class="h1 red">
			沒有問題
			</b>
		</div>

	<!-- </div> -->
		<!-- <div class="col"></div> -->

	<!-- </div> --><!-- .row -->

</div><!-- container -->

</template>

<script>
import '@/styles/bestpartner/result.css';

export default {
  // data: function(){
    // return {
      // CurStep: 3,		// @@
    // };
  // },
	computed: {
		/* 目前階段 */
		CurStep(){
			return this.$store.state.CurStep
		},
  },
  created() {
		console.warn('bestpartner_page2.created-CurStep: ', this.CurStep);	// @@
		// this.$store.commit('setStep', 1)
  },
}
</script>