<template>
  <div class="container" id="TmpStep1">

		<form ref="Form1" class="mt-4 pb-5">
			<!-- <div class="col"></div>
			<div class="col-12"> -->

			<div class="card">
				<h5 class="card-header success">
					<i class="fa-solid fa-bell"></i> 本人
				</h5>
				<div class="card-body">
					<div class="mb-3">
						<label class="form-label">本人姓名<b class="Required">*必填</b></label>
						<div class="input-group">
							<span class="input-group-text">姓氏</span>
							<input class="form-control" v-model="form1.me.name1" maxlength="2" :class="getClass(0)" @change="checkName(0)" required>
							<span class="input-group-text">名字</span>
							<input class="form-control" v-model="form1.me.name2" maxlength="2" :class="getClass(0)" @change="checkName(0)" required>
							<b class="invalid-feedback">{{errMsg[0]}}</b>
						</div>
					</div>
					<div class="mb-3">
						<label class="form-label">是否超過40歲</label>
						<div class="input-group">
							<div class="form-check form-check-inline">
								<input class="form-check-input" v-model="form1.me.rdo1" :class="getClass(0)" name="rdo1" type="radio" value="1">
								<label class="form-check-label">是</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" v-model="form1.me.rdo1" name="rdo1" type="radio" value="0">
								<label class="form-check-label">否</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card" v-for="(one, ii) in targetSet" :key="ii">
				<h5 class="card-header warning">
					<i class="fa-solid fa-bell"></i> 合夥對象 {{ii+1}}
				</h5>
				<div class="card-body">
					<div class="mb-3">
						<label class="form-label">姓名<b class="Required">*必填(至少1位)</b></label>
						<div class="input-group">
							<span class="input-group-text">姓氏</span>
							<input class="form-control" v-model="one.name1" maxlength="2" :class="getClass(ii+1)" @change="checkName(ii+1)" required>
							<span class="input-group-text">名字</span>
							<input class="form-control" v-model="one.name2" maxlength="2" :class="getClass(ii+1)" @change="checkName(ii+1)" required>
							<b class="invalid-feedback">{{errMsg[ii+1]}}</b>
						</div>
					</div>

					<div class="mb-3">
						<label class="form-label">是否超過40歲</label>
						<div class="input-group">
							<div class="form-check form-check-inline">
								<input class="form-check-input" v-model="one.rdo1" :name="getRdoName(ii+1)" type="radio" value="1">
								<label class="form-check-label">是</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" v-model="one.rdo1" :name="getRdoName(ii+1)" type="radio" value="0">
								<label class="form-check-label">否</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="d-flex justify-content-end">
						<button class="btn btn-warning ms-2" @click.prevent="onRemoveMe(ii)" :disabled="!canRemove">移除此對象</button>
					</div>
				</div>
			</div>

			<div class="groupC BeginBtn mt-4">
				<button class="btn btn-primary float-end" @click.prevent="onAddMe" :disabled="!canAdd"><i class="fas fa-plus"></i> 按我追加</button>

				<!-- <div class="wrapbtn1 groupC pointer" @click.prevent="onValidate"><h6>分析</h6></div> -->
				<button class="btn btn-success ms-4" type="submit" @click="onValidate" :disabled="!isReady">開始分析</button>
				<button class="btn btn-secondary ms-4" @click="resetForm">重設表單</button>
			</div>
			<!-- </div> -->
			<!-- <div class="col"></div> -->
		</form>

		</div>
  </div>
</template>

<script>
import axios from 'axios'
import { S_Obj } from '@/s_obj.js'
import { maxlen } from '@/fun2.js'
import { ChkChinese } from '@/fun1.js'

// 以上不用扣 ============================

// const IsDev = S_Obj.isDebug 	//開發debug
const LSKey1 = 'FormPartner'
const APIKey 	= 'ApiPartner'
const MaxNum = 2, MinNum = 1

// const LangNum = GetLangNum()-1
const LangNum = 0		// @@
	,TxtErr1	= ['姓氏與名字皆必須輸入','姓氏与名字皆必须输入','姓氏與名字皆必須輸入']
	,TxtNoCh	= [' 含有非中文字元',' 含有非中文字元',' Contains non-Chinese characters']
	,TxtNoKC	= [' 含有不是漢字的(非康熙字典)字元',' 含有不是汉字的(非康熙字典)字元',' Contains characters that are not Chinese characters (non-Kangxi dictionary)']

export default {
  data: function(){
    return {
      // form1: {},	// NG!
			form1:{
				me: {
					name1:'',
					name2:'',
					rdo1:0
				},
			},
			sendUrl:'',
      errMsg:	[],
      targetSet:	[],
      lenTarget: MinNum,
      isReady: false,
    };
  },
	computed: {
		canRemove() {
			return this.lenTarget != MinNum
		},
		canAdd() {
			return this.isReady && this.lenTarget < MaxNum
		},
	},
  methods: {
		maxlen,
		validForm() {
			let nLen 	= this.lenTarget+1
				,i	 		= 0
				,bTrue	= true
			while (i<nLen) {
				const o1 = this.errMsg[i];
				bTrue = !!!o1
				if (!bTrue) {
					break;
				}
				i++;
			}

			if (this.errBirth) {
				bTrue = false
			}
			return bTrue
		},
    onAddMe() {
			if (this.canAdd) {
				this.targetSet.push({
					name1: '',
					name2: '',
					rdo1: '0',
				});
				this.errMsg.push(TxtErr1[LangNum]);
				this.lenTarget += 1;
			} else {
				alert(`上限最多 ${MaxNum} 組!`)
			}
    },
    onRemoveMe(index) {
			if (this.canRemove) {
				this.targetSet.splice(index, 1);
				this.lenTarget -= 1;

			} else {
				alert('最少1組!')
			}
    },
		getRdoName(i){
			return `rdo2${i}`
    },
		getClass(i){
			const isNG 	= !!this.errMsg[i]
				,tag1			= isNG ? 'in' : ''
			return `is-${tag1}valid`
    },
    async checkName(i) {
			let one = {}
			if (i == 0) {
				one = this.form1.me
			} else {
				one = this.targetSet[i-1]
			}
			let {name1, name2} = one
			let _err = ''
			// console.warn('checkName-i,name1,name2: '+i ,name1 ,name2);	// @@

			if (!name1 || !name2) {
				_err = TxtErr1[LangNum]
			} else if (!ChkChinese(name1)) {
				_err = '姓氏'+TxtNoCh[LangNum]
			} else if (!ChkChinese(name2)) {
				_err = '名字'+TxtNoCh[LangNum]
			// } else if (!await ChkCharApi.call(this, name1+name2)) {
				// _err = TxtNoKC[LangNum]
			}

			this.errMsg[i] = _err+(_err ? '!' : '')
			this.$forceUpdate();
			this.isReady = this.validForm()
		},
    onValidate(event) {
			event.preventDefault(); event.stopPropagation()

			const bOK = this.isReady
			// console.warn('onValidate-bOK: ', bOK);	// @@
			if (bOK) {
				const frm1 = this.$refs.Form1
				frm1.classList.add('was-validated')
				this.onSubmit();
			// } else {
				// alert('請再檢查錯誤!')
			}
    },
    async onSubmit() {
/* 
{
    "is_success": true,
    "result_url": "/zh-hant/dapp/playlife/divination/best_partner/result/bf44af12-d515-46d4-a7b3-d47eecc65fdb/"
}
 */

/* 
			let arrTarget = [] 
			const me 	= this.form1.me
			arrTarget.push({
				last_name: me.name1,
				first_name: me.name2,
				in_second_half_of_life: me.rdo1,
			})

			this.targetSet.forEach((o1, i)=>{
				arrTarget.push({
					last_name: o1.name1,
					first_name: o1.name2,
					in_second_half_of_life: o1.rdo1,
				})
			})

			const send = JSON.stringify(arrTarget)
			console.warn('onSubmit-send: ', send);	// @@
return false;	// @@
 */
			// const response = await this.csrfFetchAsync(
					// apiUrl.analysis,
					// this.sendUrl,
					// "POST",
					// JSON.stringify(send))
			// const result = await response.json();
			// if (jso1.is_success) {
				// location = location.origin+jso1.result_url;
					this.$store.commit('setStep', 2)
			// }

    },
		async getMeta() {
			const res1 = await this.csrfFetchAsync(apiUrl.meta, "GET", null)
			const jso1 = await res1.json();
			console.warn('onSubmit-jso1: ', jso1);	// @@

			if (jso1.is_success) {
				this.sendUrl = jso1.analyze_url;
				// S_Obj.save(APIKey, jso1.analyze_url);
			}
		},
    // loadAPI() {
			// const one = S_Obj.read(APIKey)
			// if (one) {
				// console.error('loadAPI-one: ', this.one);	// @@
				// this.arrItem = one.item_set
			// }
			// // console.warn('loadAPI-arrItem: ', this.arrItem);	// @@
		// },
    loadForm(){
			this.resetForm();

			let one = S_Obj.read(LSKey1)
			if (one) {
				// console.warn('loadForm-one: ', one);	// @@
				this.form1.me = one
				this.autoValid()
			}
    },
    /* 表單資料初始化 */
    resetForm() {
			let arr1 = []
			for (let i = 0; i < 2; i++) {
				arr1.push({
					name1: '',
					name2: '',
					rdo1: '0',
				});
				this.errMsg.push(TxtErr1[LangNum]);
			}
			this.form1.me = arr1.shift();
			this.targetSet = arr1
			// console.warn('resetForm-form1: ', this.form1);	// @@

		},
    autoValid() {
			let nLen 	= this.lenTarget+1
				,i	 		= 0
			while (i<nLen) {
				this.checkName(i);
				i++;
			}
		},
  },
  created() {
		// this.loadAPI();
		// this.lenTarget = this.targetSet.length
		this.loadForm()
  },
  mounted() {
		/* input enter prevent button event */
		this.$refs.Form1.addEventListener("keydown", event => {
			if (event.key == "Enter") {
				event.preventDefault();
			}
		});
  },
	watch: {
		// form1: {
			// handler(frm1) {
				// console.warn('watch-frm1: ', frm1);	// @@
				// // S_Obj.save(LSKey1, frm1);
				// // const v1 = frm1.first_name
			// },
			// deep: true
		// },
		'form1.me': {
			handler(o1) {
				// console.warn('watch-me: ', o1);	// @@
				S_Obj.save(LSKey1, o1);
			},
			deep: true
    },
		// targetSet: {
			// handler(arr1) {
				// console.warn('watch-arr1: ', arr1);	// @@
			// },
			// deep: true
		// }
  },
}
</script>