<template>
  <section id="Result" class="container" style="margin-bottom: 100px;">

		<h1>五種合作關係</h1>

<!-- 
		<div id="PicWrap1">
			<div class="groupC">
				<div class="imgWrap1 groupC">
					<img src="@/assets/best_partner/All.png" class="img-fluid" />
				</div>
			</div>
			<b class="lbl11">
				<span>吳國寶</span></b>
			<b class="lbl12">
				<span>林秀足</span></b>
			<b class="lbl13">
				<span>詹松標</span></b>
		</div>
 -->

		<!-- <div class="divider half-margins"></div> -->
		<div class="groupC">
			<div class="imgWrap1 groupC">
				<img :src="getSrc('BigA')">
			</div>
		</div>

		<div class="h5 panel-box success">
			<h3 class="title">
				<i class="fa fa-bell"></i> 合作關係
			</h3>

			<div class="accordion">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse1">
							蘇東坡<img :src="getSrc('char/follow')">林心如
						</button>
					</h2>
					<div id="collapse1" class="accordion-collapse collapse show">
						<div class="accordion-body">
							所以一次不要方式密碼以上主要今天所有項
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse2">
							蘇東坡<img :src="getSrc('char/fortune')">王慧茹
						</button>
					</h2>
					<div id="collapse2" class="accordion-collapse collapse show">
						<div class="accordion-body">
							所以一次不要方式密碼以上主要今天所有項
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse3">
							林心如<img :src="getSrc('char/official')">王慧茹
						</button>
					</h2>
					<div id="collapse3" class="accordion-collapse collapse show">
						<div class="accordion-body">
							所以一次不要方式密碼以上主要今天所有項
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- 
			<b>表現</b>
			<div class="alert alert-danger groupC">
				<span class="text-center">
					<i class="fa-solid fa-coffee"></i> 林心如
				</span>
			</div>
			<div class="alert alert-danger groupC">
				<span class="text-center">
					<i class="fa-solid fa-coffee"></i> 王慧茹
				</span>
			</div>
 -->
		<h1>角色承擔</h1>
		<div class="h5 panel-box warning">
			<h3 class="title">
				<i class="fa fa-bell"></i> 主導
			</h3>

			<div class="groupC">
				<div class="imgWrap1 groupC">
					<div class="item-box">
						<figure>
							<img :src="getSrc('leading')">
						</figure>
						<div class="alert alert-danger groupC">
							<span class="text-center">
								<i class="fa-solid fa-coffee"></i> 蘇東坡
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="groupC">
				<div class="imgWrap1 groupC">
					<div class="item-box">
						<figure>
							<img :src="getSrc('leading')">
						</figure>
						<div class="alert alert-danger groupC">
							<span class="text-center">
								<i class="fa-solid fa-coffee"></i> 林心如
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="h5 panel-box warning">
			<h3 class="title">
				<i class="fa fa-bell"></i> 配合
			</h3>

			<div class="groupC">
				<div class="imgWrap1 groupC">
					<div class="item-box">
						<figure>
							<img :src="getSrc('cooperation')">
						</figure>
						<div class="alert alert-danger groupC">
							<span class="text-center">
								<i class="fa-solid fa-coffee"></i> 速度快
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h5 panel-box warning">
			<h3 class="title">
				<i class="fa fa-bell"></i> 表現
			</h3>

			<div class="groupC">
				<div class="imgWrap1 groupC">
					<div class="item-box">
						<figure>
							<img :src="getSrc('performance')">
						</figure>
						<div class="alert alert-danger groupC">
							<span class="text-center">
								<i class="fa-solid fa-coffee"></i> 車鑰匙
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="h5 panel-box info">
			<h3 class="title">
				<i class="fa fa-bell"></i> 建議說明
			</h3>

			<b>
				有2個
				<img :src="getSrc('char/lose')">
				的合作關係
			</b>
			<p>一定都是提高程序人民積分那個規定而且一起狀態情況.
				<br>所以重要一點手機電腦沒有專業女人感覺網站因為現在.
				<br>政府表示不同上海需要類型市場希望全部隻有方法生產通過工程項目進入積分
			</p>
		</div>

		<div class="h5 panel-box danger">
			<h3 class="title">
				<i class="fa fa-bell"></i> 結論
			</h3>
				這樣的合作關係，基本上合作起來是比較...
			<img src="@/assets/best_partner/problem1.png" class="w200 p-2" />

			<!-- <b class="h1 red">沒有問題</b> -->
		</div>


  </section>
</template>

<script>
import '@/styles/bestpartner/result.css';

// import { S_Obj } from '@/s_obj.js'
// import Msgbox from "@/components/Msgbox.vue"

// const IsPC		= window.screen.width >= 768	// @@del

// const LangNum = GetLangNum()
const LangNum = 1	// @@

export default {
  // components: { Msgbox },
  // data: function(){
    // return {
			// // IsPC,
      // // urlImg: this.$store.getters.urlImg,
    // };
  // },
	// computed: {
		// isMale(){
			// return this.xxx
		// },
	// },
  methods: {
    // txtName(one){
			// let _name = one
				// ,hasI		= /\(強烈/.test(_name)
			// if (hasI) {
				// _name = _name.replace('(強烈)','')
				// return `${_name}<i class="fas fa-crown"></i>`
			// } else {
				// return _name
			// }
    // },
    // getImgUser(){
			// return require(`@/assets/user${this.nUser}.png`)
    // },
    getSrc(v1){
			return require(`@/assets/best_partner/${v1}${LangNum}.png`)
    },
		// getImgClass2(){
			// return IsPC ? 'img-fluid' : 'groupC w300'
    // },
		// getImgClass1(){
			// // return IsPC ? 'float-end' : 'groupC'
			// return 'groupC'
    // },
    // onSubmit() {
			// this.$store.commit('setStep', 3)
		// },
  },
}
</script>